<template id="diagram-settings-template">
    <div class="settings-div">
        <button class="expand-button">
            <svg>
                <use xlink:href="@Url.Content("~/icons/icons.svg#arrow-right")"></use>
            </svg>
        </button>
        <div class="horizontal-toggleable-container">
            <div class="content-div">
                <div class="content-inner-div">
                    <h3>Tree layout</h3>
                    <fieldset class="tree-types-fieldset">
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="0" />
                            <span>Hourglass-biological</span>
                            <div data-tooltip-id="hourglass-biological" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="hourglass-biological" class="tooltip">
                                <div class="hourglass-biological-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Hourglass-biological tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person, his/her spouses and biological siblings</li>
                                                    <li>- his/her biological ancestors, plus:</li>
                                                    <li class="indented">- his/her parents' spouses if they have children together</li>
                                                    <li class="indented">- placeholder ancestors up to the last known generation</li>
                                                    <li>- his/her biological descendants and their spouses, recursively</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Hourglass-biological tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="1" />
                            <span>Hourglass-extended</span>
                            <div data-tooltip-id="hourglass-extended" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="hourglass-extended" class="tooltip">
                                <div class="hourglass-extended-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Hourglass-extended tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person, his/her spouses and both biological and adoptive siblings and their spouses</li>
                                                    <li>- all his/her biological and adoptive ancestors and their spouses, excluding the parents of adoptive parents</li>
                                                    <li>- all his/her biological/adoptive descedants and their spouses, excluding descedants of adoptive descedants</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Hourglass-extended tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="2" />
                            <span>Complete</span>
                            <div data-tooltip-id="complete" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="complete" class="tooltip">
                                <div class="complete-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Complete tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person, and everyone who is related to him/her in any way</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Complete tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </fieldset>
                    <div class="flex-row">
                        <div class="flex-column">
                            <label>Ancestors depth</label>
                            <fieldset class="ancestors-depth-fieldset"></fieldset>
                        </div>
                        <div class="flex-column">
                            <label>Descedants depth</label>
                            <fieldset class="descedants-depth-fieldset"></fieldset>
                        </div>
                    </div>
                    <div class="flex-row">
                        <button class="apply-button">Apply</button>
                    </div>
                    <h3>View mode</h3>
                    <fieldset class="view-modes-fieldset">
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="0" />
                            Small
                        </label>
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="1" />
                            Medium
                        </label>
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="2" />
                            Large
                        </label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>