<template id="diagram-settings-template">
    <div class="settings-div">
        <div class="expand-button-div flex-row">
            <div class="expand-button-icon"></div>
        </div>
        <div class="horizontal-toggleable-container">
            <div class="content-div">
                <div class="content-inner-div">
                    <fieldset class="tree-types-fieldset">
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="0" />
                            Hourglass-biological
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="1" />
                            Hourglass-extended
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="2" />
                            Complete
                        </label>
                    </fieldset>
                    <div class="flex-row">
                        <div class="flex-column">
                            <label>Ancestors depth</label>
                            <fieldset class="ancestors-depth-fieldset"></fieldset>
                        </div>
                        <div class="flex-column">
                            <label>Descedants depth</label>
                            <fieldset class="descedants-depth-fieldset"></fieldset>
                        </div>
                    </div>
                    <div class="flex-row">
                        <button class="apply-button">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>