<template id="diagram-settings-template">
    <div class="settings-div">
        <button class="expand-button">
            <svg>
                <use xlink:href="@Url.Content("~/icons/icons.svg#arrow-right")"></use>
            </svg>
        </button>
        <div class="horizontal-toggleable-container">
            <div class="content-div">
                <div class="content-inner-div">
                    <h3>Tree layout</h3>
                    <fieldset class="tree-types-fieldset">
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-tree-type" data-tree-type-index="0" />
                                Hourglass-biological
                            </label>
                            <div data-tooltip-id="hourglass-biological" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="hourglass-biological" class="tooltip">
                                <div class="hourglass-biological-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Hourglass-biological tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person</li>
                                                    <li>- his/her spouses with whom he/she has common biological children</li>
                                                    <li>- his/her biological siblings</li>
                                                    <li>- his/her biological parents and their other spouses if they biological have children together</li>
                                                    <li>- his/her biological ancestors starting from grandparents</li>
                                                    <li>- placeholder biological ancestors up to the last generation that has known ancestors</li>
                                                    <li>- his/her biological descendants and their spouses with whom they have common biological children</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Hourglass-biological tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-tree-type" data-tree-type-index="1" />
                                Hourglass-extended
                            </label>
                            <div data-tooltip-id="hourglass-extended" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="hourglass-extended" class="tooltip">
                                <div class="hourglass-extended-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Hourglass-extended tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person</li>
                                                    <li>- his/her spouses</li>
                                                    <li>- his/her biological and adoptive siblings and their spouses</li>
                                                    <li>- his/her biological and adoptive ancestors and their spouses recursively, excluding ancestors of adoptive ancestors</li>
                                                    <li>- his/her biological and adoptive descendants and their spouses recursively, excluding descendants of adoptive descendants</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Hourglass-extended tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-tree-type" data-tree-type-index="2" />
                                Complete
                            </label>
                            <div data-tooltip-id="complete" class="svg-div-info tooltip-source">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                            <div data-tooltip-id="complete" class="tooltip">
                                <div class="complete-tooltip-content tree-type-tooltip-content">
                                    <div class="flex-row">
                                        <div class="description-div">
                                            <div class="title-div">Complete tree</div>
                                            <div class="text-div">
                                                <p>Displays:</p>
                                                <ul>
                                                    <li>- the person, and everyone who is related to him/her in any way</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex-column">
                                            <div class="tree-div"></div>
                                            <span class="text-span">
                                                Typical Complete tree
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="flex-row">
                        <div class="flex-column">
                            <label>Ancestors depth</label>
                            <fieldset class="ancestors-depth-fieldset"></fieldset>
                        </div>
                        <div class="flex-column">
                            <label>Descendants depth</label>
                            <fieldset class="descendants-depth-fieldset"></fieldset>
                        </div>
                    </div>
                    <div class="flex-row">
                        <button class="apply-button">Apply</button>
                    </div>
                    <h3>View mode</h3>
                    <fieldset class="view-modes-fieldset">
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-view-mode" data-view-mode-index="0" />
                                Small
                            </label>
                        </div>
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-view-mode" data-view-mode-index="1" />
                                Medium
                            </label>
                        </div>
                        <div class="option">
                            <label>
                                <input type="radio" name="input-radio-view-mode" data-view-mode-index="2" />
                                Large
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>