<template id="diagram-settings-template">
    <div class="settings-div">
        <button class="expand-button">
            <svg>
                <use xlink:href="@Url.Content("~/icons/icons.svg#arrow-right")"></use>
            </svg>
        </button>
        <div class="horizontal-toggleable-container">
            <div class="content-div">
                <div class="content-inner-div">
                    <h3>Tree layout</h3>
                    <fieldset class="tree-types-fieldset">
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="0" />
                            <span>Hourglass-biological</span>
                            <div class="svg-div-info">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="1" />
                            <span>Hourglass-extended</span>
                            <div class="svg-div-info">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="input-radio-tree-type" data-tree-type-index="2" />
                            <span>Complete</span>
                            <div class="svg-div-info">
                                <svg>
                                    <use xlink:href="@Url.Content("~/icons/icons.svg#info")"></use>
                                </svg>
                            </div>
                        </label>
                    </fieldset>
                    <div class="flex-row">
                        <div class="flex-column">
                            <label>Ancestors depth</label>
                            <fieldset class="ancestors-depth-fieldset"></fieldset>
                        </div>
                        <div class="flex-column">
                            <label>Descedants depth</label>
                            <fieldset class="descedants-depth-fieldset"></fieldset>
                        </div>
                    </div>
                    <div class="flex-row">
                        <button class="apply-button">Apply</button>
                    </div>
                    <h3>View mode</h3>
                    <fieldset class="view-modes-fieldset">
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="0" />
                            Small
                        </label>
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="1" />
                            Medium
                        </label>
                        <label>
                            <input type="radio" name="input-radio-view-mode" data-view-mode-index="2" />
                            Large
                        </label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>