<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Path To My Roots</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="div-without-footer">
        <nav class="nav-menu">
            <a class="a-main-logo" asp-controller="Home" asp-action="Home">
                <img class="img-main-logo" src="~/icons/path-to-my-roots.svg">
                <span class="span-main-logo">Path To My Roots</span>
            </a>

            <ul class="ul-menu">
                <li class="li-menu">
                    <a class="a-menu" asp-controller="Person" asp-action="Persons">Persons</a>
                </li>
                <li class="li-menu">
                    <a class="a-menu" asp-controller="Person" asp-action="AddPerson">Add Person</a>
                </li>
            </ul>
        </nav>

        <main class="main-content-container">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container">
        <a class="a-footer-logo" asp-controller="Home" asp-action="Home">
            <img class="img-footer-logo" src="~/icons/path-to-my-roots.svg">
            <span class="span-footer-logo">Path To My Roots</span>
        </a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@latest"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
