@using PathToMyRootsCommon.Utils

<h1>Tests</h1>

<div id="tree-diagrams-container">
</div>

@section Scripts {

    <script src="~/js/common/constants.js"></script>
    <script src="~/js/common/fading.js"></script>
    <script src="~/js/common/texts-formatter.js"></script>

    <script src="~/js/tree-builder/tree.js"></script>
    <script src="~/js/tree-builder/creator-lines-container.js"></script>
    <script src="~/js/tree-builder/creator-generations-data.js"></script>
    <script src="~/js/tree-builder/creator-generations-recursive.js"></script>
    <script src="~/js/tree-builder/sorter-by-birth-date.js"></script>
    <script src="~/js/tree-builder/creator-extended-marriages.js"></script>
    <script src="~/js/tree-builder/creator-siblings.js"></script>
    <script src="~/js/tree-builder/creator-siblings-chains.js"></script>
    <script src="~/js/tree-builder/lines-drawer.js"></script>
    <script src="~/js/tree-builder/creator-html.js"></script>

    <script src="~/js/test/tests.js"></script>

    <script>
        const UnknownServerDate = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';
    </script>
}