@using PathToMyRootsCommon.Utils

@await Html.PartialAsync("_DiagramSettingsPartial")

<h1>Tests</h1>
<div class="scrollable-area">
    <button id="scroll-to-top-button">
        <svg>
            <use xlink:href="@Url.Content("~/icons/icons.svg#arrow-up")"></use>
        </svg>
    </button>
    <div id="tree-diagrams-div">
        <p style="font-style: italic; width: 500px;">Since the tests compare the HTML output of the result trees — which includes path coordinates connecting the nodes — they must be run in the browser at exactly 100% zoom level.</p>
        <div id="test-progress-bar-div">
            <div id="test-progress-bar-div-inner">
            </div>
        </div>
        <div id="test-progress-status-div">
            <div>
                <h3>Pending:</h3>
                <h3 id="number-of-pending-tests" class="number"></h3>
            </div>
            <div>
                <h3>Passed:</h3>
                <h3 id="number-of-passed-tests" class="number"></h3>
            </div>
            <div>
                <h3>Failed:</h3>
                <h3 id="number-of-failed-tests" class="number"></h3>
            </div>
        </div>
        <div id="test-cases-div">
        </div>
    </div>
    <button id="scroll-to-bottom-button">
        <svg>
            <use xlink:href="@Url.Content("~/icons/icons.svg#arrow-down")"></use>
        </svg>
    </button>
</div>

@section Scripts {
    <script src="~/js/common/constants.js"></script>
    <script src="~/js/common/display-formatter.js"></script>
    <script src="~/js/common/fading.js"></script>
    <script src="~/js/common/html-creator.js"></script>
    <script src="~/js/common/css-property-getters.js"></script>

    <script src="~/js/cache/persons-cache.js"></script>

    <script src="~/js/tree-builder/tree.js"></script>
    <script src="~/js/tree-builder/tooltip/tooltip-content-creator.js"></script>
    <script src="~/js/tree-builder/settings.js"></script>
    <script src="~/js/tree-builder/tree-types.js"></script>
    <script src="~/js/tree-builder/relatives-depth.js"></script>
    <script src="~/js/tree-builder/view-modes.js"></script>
    <script src="~/js/tree-builder/creator-lines-container.js"></script>
    <script src="~/js/tree-builder/creator-generations-data.js"></script>
    <script src="~/js/tree-builder/creator-siblings.js"></script>
    <script src="~/js/tree-builder/creator-siblings-chains.js"></script>
    <script src="~/js/tree-builder/common.js"></script>
    <script src="~/js/tree-builder/sorter-extended-marriages-by-birth-date.js"></script>
    <script src="~/js/tree-builder/sorter-extended-marriages-by-spouses.js"></script>
    <script src="~/js/tree-builder/lines-drawer.js"></script>
    <script src="~/js/tree-builder/creator-html.js"></script>

    <script src="~/js/tree-builder/complete/creator-tree-complete-generations.js"></script>
    <script src="~/js/tree-builder/hourglass/creator-tree-hourglass-generations.js"></script>
    <script src="~/js/tree-builder/hourglass/hourglass-biological.js"></script>
    <script src="~/js/tree-builder/hourglass/hourglass-extended.js"></script>

    <script src="~/js/person-details/creator-html.js"></script>
    <script src="~/js/person-details/creator-relatives-data.js"></script>

    <script src="~/js/test/tests.js"></script>
    <script src="~/js/test/creator-html.js"></script>
    <script src="~/js/test/scrolling.js"></script>

    <script src="~/js/tooltip/tooltip.js"></script>

    <script>
        const DatabaseDateUnknown = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';
    </script>
}