@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@model List<PathToMyRootsWebApp.Models.PersonModel>

<h1>Persons</h1>
<div>
    <div class="persons-search">
        <input type="text" id="input-search" style="width: 200px" placeholder="Search..." value="@ViewBag.SearchText" />
        <button id="button-search">Search</button>
    </div>

    <div id="persons-content" class="persons-content">
        @await Html.PartialAsync("_PersonsTablePartial", Model)
    </div>
</div>

@section Scripts {
    <script src="~/js/persons.js"></script>
}