@using PathToMyRootsCommon.Utils
@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@using System.Text.Json
@model PathToMyRootsWebApp.Models.PersonModel

@await Html.PartialAsync("_DiagramSettingsPartial")

<h1>Person Details</h1>

<div class="person-details">
    <div class="top-row">
        <div class="info-column">
        </div>
        <div class="relatives-column">
        </div>
    </div>
    <div class="tree-row">
        <div id="diagrams-div"></div>
    </div>
</div>

@section Scripts {

    <script src="~/js/common/constants.js"></script>
    <script src="~/js/common/display-formatter.js"></script>
    <script src="~/js/common/database-script-helper.js"></script>
    <script src="~/js/common/fading.js"></script>
    <script src="~/js/common/html-creator.js"></script>
    <script src="~/js/common/utils.js"></script>
    <script src="~/js/common/css-property-getters.js"></script>

    <script src="~/js/cache/persons-cache.js"></script>


    <script src="~/js/tree-builder/tree.js"></script>
    <script src="~/js/tree-builder/settings/settings.js"></script>
    <script src="~/js/tree-builder/enums/tree-types.js"></script>
    <script src="~/js/tree-builder/enums/relatives-depth.js"></script>
    <script src="~/js/tree-builder/enums/view-modes.js"></script>
    <script src="~/js/tree-builder/html/creator-paths-container.js"></script>


    <script src="~/js/tree-builder/generations/creators/creator-siblings-groups.js"></script>
    <script src="~/js/tree-builder/generations/creators/creator-marriage-entities-groups.js"></script>
    <script src="~/js/tree-builder/generations/creators/creator-generations-data.js"></script>

    <script src="~/js/tree-builder/generations/sorters/sorter-marriage-entities-by-birth-date.js"></script>
    <script src="~/js/tree-builder/generations/sorters/sorter-parents-siblings-groups-by-children.js"></script>
    <script src="~/js/tree-builder/generations/sorters/sorter-generations-by-level.js"></script>


    <script src="~/js/tree-builder/generations/common.js"></script>
    <script src="~/js/tree-builder/download/download.js"></script>
    
    <script src="~/js/tree-builder/html/paths-drawer.js"></script>
    <script src="~/js/tree-builder/html/creator-html.js"></script>
    <script src="~/js/tree-builder/generations/processed-person-ids.js"></script>
    <script src="~/js/tree-builder/tooltip/tooltip-content-creator.js"></script>

    <script src="~/js/tree-builder/tree-types/complete/creator-tree-complete-generations.js"></script>
    <script src="~/js/tree-builder/tree-types/hourglass/creator-tree-hourglass-generations.js"></script>
    <script src="~/js/tree-builder/tree-types/hourglass/hourglass-biological.js"></script>
    <script src="~/js/tree-builder/tree-types/hourglass/hourglass-extended.js"></script>

    <script src="~/js/person-details/creator-html.js"></script>
    <script src="~/js/person-details/creator-relatives-data.js"></script>

    <script src="~/js/person-details/person-details.js"></script>

    <script src="~/js/tooltip/tooltip.js"></script>

    <script>
        const DatabaseDateUnknown = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';

        createPersonDetails(@Model.Id);
    </script>
}