@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@model List<PathToMyRootsWebApp.Models.PersonModel>

<div class="div-persons">
    @{
        ViewData["Title"] = "Persons";
    }

    <h1>@ViewData["Title"]</h1>

    <div id="persons-content" class="persons-content">
        @await Html.PartialAsync("_PersonsTablePartial", Model)
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/persons.css" />
}
@section Scripts {
    <script src="~/js/persons.js"></script>
}