@using PathToMyRootsCommon.Utils
@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@using System.Text.Json
@model PathToMyRootsWebApp.Models.PersonModel

@await Html.PartialAsync("_DiagramSettingsPartial")

<h1>Person Details</h1>

<div class="person-details">
    <div class="top-row">
        <div class="info-column">
        </div>
        <div class="relatives-column">
        </div>
    </div>
    <div class="tree-row">
        <div id="tree-diagrams-div"></div>
    </div>
</div>

@section Scripts {

    <script src="~/js/common/constants.js"></script>
    <script src="~/js/common/display-formatter.js"></script>
    <script src="~/js/common/fading.js"></script>
    <script src="~/js/common/html-creator.js"></script>

    <script src="~/js/cache/persons-cache.js"></script>

    <script src="~/js/tree-builder/tree.js"></script>
    <script src="~/js/tree-builder/tree-types.js"></script>
    <script src="~/js/tree-builder/creator-lines-container.js"></script>
    <script src="~/js/tree-builder/creator-generations-data.js"></script>
    <script src="~/js/tree-builder/creator-siblings.js"></script>
    <script src="~/js/tree-builder/creator-siblings-chains.js"></script>
    <script src="~/js/tree-builder/common.js"></script>
    <script src="~/js/tree-builder/sorter-extended-marriages-by-birth-date.js"></script>
    <script src="~/js/tree-builder/sorter-extended-marriages-by-spouses.js"></script>
    <script src="~/js/tree-builder/lines-drawer.js"></script>
    <script src="~/js/tree-builder/creator-html.js"></script>

    <script src="~/js/tree-builder/complete/creator-tree-complete-generations.js"></script>
    <script src="~/js/tree-builder/hourglass/creator-tree-hourglass-generations.js"></script>
    <script src="~/js/tree-builder/hourglass/hourglass-biological.js"></script>
    <script src="~/js/tree-builder/hourglass/hourglass-extended.js"></script>
    <script src="~/js/tree-builder/hourglass/common.js"></script>

    <script src="~/js/person-details/creator-html.js"></script>
    <script src="~/js/person-details/creator-relatives-data.js"></script>

    <script src="~/js/person-details/person-details.js"></script>

    <script>
        const DatabaseDateUnknown = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';

        createPersonDetails(@Model.Id);
    </script>
}