@using PathToMyRootsWebApp.Constants

<h1>Persons</h1>

<div class="persons-filter">
    <input id="filter-input" type="text" style="width: 200px" placeholder="Filter..." />
    <button id="filter-button">Filter</button>
    <span>Page size: </span>
    <select id="page-size-select">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>

<div class="relative">
    <div id="persons-container">
        @await Html.PartialAsync("_PersonsTablePartial")
    </div>
</div>

<div class="pagination-container">
    <button id="first-button">First</button>
    <button id="prev-button">Prev</button>
    <span id="pagination-text"></span>
    <button id="next-button">Next</button>
    <button id="last-button">Last</button>
</div>

@section Scripts {
    <script src="~/js/persons.js"></script>
    <script>
        setupPaginationButtons('', @Model.TotalNumberOfPages);
    </script>
}