.form-person {
    display: inline-block;
    /*background-color: blue;*/
}

.div-container {
    /*background-color: red;*/
    display: flex;
    width: 400px;
    margin: 8px 0px;
    /*background-color: orange;*/
}

.div-labels-for-inputs {
    display: flex;
    flex-direction: column;
}

.label-for-input {
    margin: auto 16px auto 0px;
    white-space: nowrap;
}

.div-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    display: block;
    padding: 4px;
    margin: 8px 0px 4px 4px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #4a5164;
}

    .input:focus {
        outline: none;
    }


.div-borders {
    /*background-color:orange;*/
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    gap: 8px;
}






.div-border {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.label-border-title {
}

.fieldset-radios {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 0px 0px;
}

.input-radio {
    accent-color: #4a5164;
    margin: 8px;
}






.div-button {
    /*background-color: orange;*/
    display: block;
    text-align: right;
    margin-top: 16px;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #3b3e4f;
    margin: 8px 0px 4px 4px;
}

    .button:hover {
        background-color: #4a5164;
    }



.div-preview-image {
    max-width: 200px;
    margin-left: auto;
    position: relative;
}

.img-preview-image {
    max-width: 100%;
}

.button-remove-image {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #3b3e4f;
}

    .button-remove-image:hover {
        background-color: #4a5164;
    }


#div-cropper-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#div-cropper-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#img-image-to-crop {
    max-width: 100%;
    max-height: 400px;
}
