.div-persons {
    display: block;
    width: 100%;
    /*background-color: orange;*/
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 8px;
}

table tbody tr:nth-child(odd) {
    /*background-color: #f9f9f9;*/
}

table tbody tr:nth-child(even) {
    /*background-color: #f1f1f1;*/
}

table tbody tr:hover {
    background-color: #4a5164;
}

th, td {
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 4px;
}

.img-gender {
    width: 20px;
    height: 20px;
}

.div-actions {
    display: inline-flex;
    align-items: center;
}

.img-action {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 2px;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination-link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
    margin: 0px;
}

.pagination-link-disabled {
    padding: 5px 10px;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
}

.pagination-link-disabled {
    padding: 5px 10px;
    text-decoration: none;
}

    .pagination-link-disabled:hover {
        border: 1px solid gray;
        color: gray;
        background-color: #3b3e4f;
        cursor: default;
    }

.pagination-link:hover {
    background-color: #4a5164;
}

.pages-text {
    margin: 0px 8px;
}
