html {
    font-size: 14px;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a {
    color: #ffffff;
}

    a:hover {
        background-color: #4a5164;
        color: #ffffff;
    }

.div-without-footer {
    display: flex;
    flex-grow: 1;
    background-color: #3b3e4f;
    color: #ffffff;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    background-color: #3c4252;
}

.a-main-logo {
    height: auto;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
    /*background-color: #4a5164;*/
}

.img-main-logo {
    width: 50px;
    height: 100%;
    margin-right: 5px;
    /*background-color: orange;*/
}

.span-main-logo {
    white-space: nowrap;
    padding-right: 10px;
    /*background-color: blue;*/
}

.ul-menu {
    list-style-type: none;
    padding: 0;
}

.li-menu {
    /*background-color: lightgray;*/
}

.a-menu {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 20px;
    /*background-color: lightgreen;*/
}

.main-content-container {
    padding: 60px;
    width: 100%;
}

.footer-container {
    display: flex;
    background-color: #484c58;
}

.a-footer-logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    /*background-color: green;*/
}

.img-footer-logo {
    width: 40px;
    height: 100%;
    margin: 0px 5px 0px 0px;
    /*background-color: orange;*/
}

.span-footer-logo {
    /*background-color: red;*/
}
