:root.theme-dark {
  --foreground-color: #C7D1DB;
  --foreground-color-highlight: white;
  --foreground-color-disabled: #454F59;
  --background-color: #161A1D;
  --background-color-nav: #22272B;
  --background-color-footer: #2C333A;
  --background-color-highlight: #454F59;
  --male-color: #2C333A;
  --female-color: #22272B;
  --marriage-color: #161A1D;
}

:root.theme-light {
  --foreground-color: #22272B;
  --foreground-color-highlight: black;
  --foreground-color-disabled: #DCDFE4;
  --background-color: #F7F8F9;
  --background-color-nav: #F1F2F4;
  --background-color-footer: #DEE4EA;
  --background-color-highlight: #DCDFE4;
  --male-color: #DEE4EA;
  --female-color: #F1F2F4;
  --marriage-color: #F7F8F9;
}

@keyframes colorFade {
  to {
    background-color: var(--background-color-highlight);
  }
}
:root.theme-dark, :root.theme-light {
  --color-transition-interval: 0.3s;
  --fade-transition-interval: 0.3s;
  --fade-transition: 0.3s linear 0s;
  --tree-size-transition-interval: 1s;
  --tree-size-transition: 1s ease 0s;
  --transition-buffer-interval: 0.01s;
  --scroll-transition-interval: 0.3s;
  --scroll-bar-size: 15px;
  --thickness-large-value: 16;
  --popup-loading-bar-transition-interval: 8s;
  --person-node-width-extrasmall: 40px;
  --person-node-width-small: 80px;
  --person-node-width-medium: 115px;
  --person-node-width-large: 175px;
  --person-node-width: 115px;
  --marriage-node-width-extrasmall: 24px;
  --marriage-node-height-extrasmall: 10px;
  --marriage-node-width-small: 60px;
  --marriage-node-height-small: 20px;
  --marriage-node-width-medium: 90px;
  --marriage-node-height-medium: 20px;
  --marriage-node-width-large: 150px;
  --marriage-node-height-large: 20px;
  --marriage-node-width: 90px;
  --marriage-node-height: 20px;
  --node-horizontal-margin-extrasmall: 3px;
  --node-horizontal-margin-small: 5px;
  --node-horizontal-margin-medium: 7px;
  --node-horizontal-margin-large: 9px;
  --node-horizontal-margin: 7px;
  --node-paths-vertical-offset-extrasmall: 3;
  --node-paths-vertical-offset-small: 5;
  --node-paths-vertical-offset-medium: 7;
  --node-paths-vertical-offset-large: 10;
  --tree-person-image-width-extrasmall: 11.25px;
  --tree-person-image-height-extrasmall: 15px;
  --tree-person-image-width-small: 30px;
  --tree-person-image-height-small: 40px;
  --tree-person-image-width: 30px;
  --tree-person-image-height: 40px;
  --tree-node-texts-div-display: flex;
  --tooltip-offset: 3;
}

html {
  font-size: 11px;
  font-family: "Fira Sans", sans-serif;
  color: var(--foreground-color);
  transition: color 0.3s ease 0s;
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-and-right-container {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-nav);
  transition: background-color 0.3s ease 0s;
}

.right-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--background-color);
  transition: background-color 0.3s ease 0s;
}

.top-container {
  display: flex;
  justify-content: flex-end;
}

.page-data-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 64px;
  margin-top: 0px;
  min-width: 800px;
  min-height: 600px;
}

.footer-container {
  min-height: 6vh;
  display: flex;
  background-color: var(--background-color-footer);
  transition: background-color 0.3s ease 0s;
}

.grid-for-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.grid-for-inputs label {
  margin-top: 0px;
}

.grid-for-input-with-error-span {
  display: grid;
}

.flex-row-with-gap {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-one {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.collapsed {
  display: none;
}

.relative, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive {
  position: relative;
}

.transparent {
  opacity: 0.9;
}

h1 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
}

button, select, option, a, input[type=text], .dropdown-header, .dropdown-menu li {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s, opacity var(--fade-transition);
}
button:hover, select:hover, option:hover, a:hover, input[type=text]:hover, .dropdown-header:hover, .dropdown-menu li:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
}

button, select, input[type=text], .dropdown-header, .dropdown-menu {
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
}

.flat-button, #diagrams-div .diagram-frame .settings-div .content-div .content-inner-div .apply-button, .diagrams-div .diagram-frame .settings-div .content-div .content-inner-div .apply-button, .flat-button-with-svg-large, #scrollable-area #scroll-to-bottom-button, #scrollable-area #scroll-to-top-button, .flat-button-with-svg-small, #diagrams-div .diagram-frame .diagram-info-div .download-button, .diagrams-div .diagram-frame .diagram-info-div .download-button, #diagrams-div .diagram-frame .settings-div .expand-button, .diagrams-div .diagram-frame .settings-div .expand-button {
  border: none;
  border-radius: 0px;
}

.flat-button-with-svg-large, #scrollable-area #scroll-to-bottom-button, #scrollable-area #scroll-to-top-button, .flat-button-with-svg-small, #diagrams-div .diagram-frame .diagram-info-div .download-button, .diagrams-div .diagram-frame .diagram-info-div .download-button, #diagrams-div .diagram-frame .settings-div .expand-button, .diagrams-div .diagram-frame .settings-div .expand-button {
  background-color: var(--background-color-nav);
  box-sizing: border-box;
  transition: background-color 0.3s ease 0s, opacity var(--fade-transition);
}
.flat-button-with-svg-large svg, #scrollable-area #scroll-to-bottom-button svg, #scrollable-area #scroll-to-top-button svg, .flat-button-with-svg-small svg, #diagrams-div .diagram-frame .diagram-info-div .download-button svg, .diagrams-div .diagram-frame .diagram-info-div .download-button svg, #diagrams-div .diagram-frame .settings-div .expand-button svg, .diagrams-div .diagram-frame .settings-div .expand-button svg {
  width: 100%;
  height: 100%;
  fill: var(--foreground-color);
  transition: fill 0.3s ease 0s;
}
.flat-button-with-svg-large:hover, #scrollable-area #scroll-to-bottom-button:hover, #scrollable-area #scroll-to-top-button:hover, .flat-button-with-svg-small:hover, #diagrams-div .diagram-frame .diagram-info-div .download-button:hover, .diagrams-div .diagram-frame .diagram-info-div .download-button:hover, #diagrams-div .diagram-frame .settings-div .expand-button:hover, .diagrams-div .diagram-frame .settings-div .expand-button:hover {
  background-color: var(--background-color-highlight);
}
.flat-button-with-svg-large:hover svg, #scrollable-area #scroll-to-bottom-button:hover svg, #scrollable-area #scroll-to-top-button:hover svg, .flat-button-with-svg-small:hover svg, #diagrams-div .diagram-frame .diagram-info-div .download-button:hover svg, .diagrams-div .diagram-frame .diagram-info-div .download-button:hover svg, #diagrams-div .diagram-frame .settings-div .expand-button:hover svg, .diagrams-div .diagram-frame .settings-div .expand-button:hover svg {
  fill: var(--foreground-color-highlight);
}

.flat-button-with-svg-small, #diagrams-div .diagram-frame .diagram-info-div .download-button, .diagrams-div .diagram-frame .diagram-info-div .download-button, #diagrams-div .diagram-frame .settings-div .expand-button, .diagrams-div .diagram-frame .settings-div .expand-button {
  padding: 4px;
  width: 18px;
  height: 18px;
}

.flat-button-with-svg-large, #scrollable-area #scroll-to-bottom-button, #scrollable-area #scroll-to-top-button {
  padding: 8px;
  width: 32px;
  height: 32px;
}

svg {
  width: 100%;
  height: 100%;
}

.svg-div-circle, .svg-div-info, .svg-div-rectangle, .svg-div-error, .svg-div-success, .svg-div-pending {
  width: 18px;
  height: 18px;
  padding: 4px;
  box-sizing: border-box;
  transition: background-color 0.3s ease 0s, opacity var(--fade-transition);
}
.svg-div-circle svg, .svg-div-info svg, .svg-div-rectangle svg, .svg-div-error svg, .svg-div-success svg, .svg-div-pending svg {
  fill: #C7D1DB;
  transition: fill 0.3s ease 0s;
}

.svg-div-rectangle, .svg-div-error, .svg-div-success, .svg-div-pending {
  border-radius: 2px;
}

.svg-div-circle, .svg-div-info {
  border-radius: 9px;
}

.svg-div-pending {
  background-color: gray;
}

.svg-div-success {
  background-color: forestgreen;
}

.svg-div-error {
  background-color: red;
}

.svg-div-info {
  background-color: var(--foreground-color);
}
.svg-div-info svg {
  fill: var(--background-color);
}

.person-details .top-row .info-column .image, .person-tooltip-content .image, .person-image-medium, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img, .person-image-small, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image {
  aspect-ratio: 3/4;
  fill: var(--foreground-color);
  transition: fill 0.3s ease 0s;
}
.person-details .top-row .info-column .image:hover, .person-tooltip-content .image:hover, .person-image-medium:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .spouse-img:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img:hover, .person-image-small:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image:hover {
  fill: var(--foreground-color-highlight);
}

.person-image-small, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image {
  width: 30px;
  height: 40px;
}

.person-image-medium, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img {
  width: 45px;
  height: 60px;
}

label {
  margin-top: 8px;
  margin-right: 8px;
}

.error-span-small-with-top-margin {
  color: var(--error-color);
  font-size: 11px;
}

.error-span-small-with-bottom-margin {
  color: var(--error-color);
  margin-bottom: 8px;
}

.error-span-small-with-top-margin {
  margin-top: 8px;
}

a {
  background-color: transparent;
}
a:hover {
  background-color: transparent;
}

button {
  padding: 8px;
  margin: 8px;
  display: inline-block;
}
button:disabled {
  color: var(--foreground-color-disabled);
  background-color: var(--background-color);
  border-color: var(--foreground-color-disabled);
  cursor: auto;
}

select {
  padding: 8px;
  margin: 8px;
  margin-left: 0px;
}

option {
  background-color: var(--background-color);
}

input[type=text], .dropdown-header {
  padding: 8px;
  margin: 8px;
  margin-left: 0px;
  cursor: auto;
}

input[type=text]::placeholder {
  color: var(--foreground-color-disabled);
  font-style: italic;
}

.male-background-color, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node {
  background-color: var(--male-color);
  transition: background-color 0.3s ease 0s;
}

.female-background-color, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node {
  background-color: var(--female-color);
  transition: background-color 0.3s ease 0s;
}

.tooltip {
  max-width: 600px;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 8px;
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
  position: absolute;
  display: flex;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear 0s;
}

.tooltip-open {
  opacity: 1;
  pointer-events: auto;
  z-index: 4;
}

fieldset {
  padding: 0px;
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  border: none;
}
fieldset div.option {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
fieldset div.option label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 2px 8px 2px 0;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
fieldset div.option label:hover {
  color: var(--foreground-color-highlight);
}
fieldset div.option label input[type=radio] {
  appearance: none;
  margin: 0px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  cursor: pointer;
}
fieldset div.option label input[type=radio]:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
}
fieldset div.option label input[type=radio]:checked {
  background-color: var(--foreground-color);
  box-shadow: inset 0 0 0 2px var(--background-color), 0 0 0 0.5px var(--foreground-color);
}
fieldset div.option label input[type=radio]:checked:hover {
  background-color: var(--foreground-color-highlight);
}

.vertical-toggleable-container {
  display: grid;
  transition: grid-template-rows 0.3s ease 0s;
}

.vertical-toggleable-container > div {
  overflow: hidden;
}

.vertical-toggleable-container-open {
  grid-template-rows: 1fr;
}

.horizontal-toggleable-container {
  display: grid;
  transition: grid-template-columns 0.3s ease 0s;
}

.horizontal-toggleable-container > div {
  overflow: hidden;
}

.horizontal-toggleable-container-open {
  grid-template-columns: 1fr;
}

.texts-div {
  display: var(--tree-node-texts-div-display);
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
  padding: 4px;
}
.texts-div .marriage-text, .texts-div .lived-text, .texts-div .name-text {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
}
.texts-div .name-text {
  font-weight: bold;
}
.nav-logo-container-hyperlink {
  height: auto;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 16px 0px;
  padding: 16px;
  padding-left: 0px;
}
.nav-logo-container-hyperlink:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.nav-logo-image {
  width: 50px;
  height: 100%;
  margin-right: 4px;
}

.nav-ul {
  background-color: inherit;
  list-style-type: none;
  padding: 0;
}

.nav-li.active {
  background-color: var(--background-color);
  transition: background-color 0.3s ease 0s;
  font-weight: bold;
}

.nav-a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 14px;
}
.nav-a:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.footer-logo-container-hyperlink {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 8px;
}
.footer-logo-container-hyperlink:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.footer-logo-img {
  width: 40px;
  height: 100%;
  margin: 0px 4px 0px 0px;
}

.theme-switcher-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}
.theme-switcher-container .switch-control {
  margin: 4px auto;
  position: relative;
  width: 50px;
  height: 26px;
}
.theme-switcher-container .switch-control .slider-rectangle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-nav);
  transition: background-color 0.3s ease 0s, transform 0.3s;
  border-radius: 13px;
}
.theme-switcher-container .switch-control .slider-rectangle:hover {
  background-color: var(--background-color-highlight);
}
.theme-switcher-container .switch-control .slider-rectangle:hover:before {
  background-color: var(--foreground-color-highlight);
}
.theme-switcher-container .switch-control .slider-rectangle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: var(--foreground-color);
  transition: background-color 0.3s ease 0s, transform 0.3s;
}
.theme-switcher-container .switch-control input:checked + .slider-rectangle:before {
  transform: translateX(22px);
}
.theme-switcher-container #theme-label {
  margin: 4px;
}

#diagrams-div, .diagrams-div {
  position: relative;
  overflow: auto;
  width: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#diagrams-div .diagram-frame, .diagrams-div .diagram-frame {
  position: relative;
  border: 1px solid var(--foreground-color);
  margin: 0px auto;
  transition: opacity var(--fade-transition), border 0.3s ease 0s;
}
#diagrams-div .diagram-frame .settings-div, .diagrams-div .diagram-frame .settings-div {
  position: absolute;
  z-index: 2;
  display: flex;
  width: fit-content;
  top: 8px;
  left: 8px;
  transition: opacity 0.3s linear 0s;
}
#diagrams-div .diagram-frame .settings-div .expand-button, .diagrams-div .diagram-frame .settings-div .expand-button {
  margin: 0px;
}
#diagrams-div .diagram-frame .settings-div .expand-button svg, .diagrams-div .diagram-frame .settings-div .expand-button svg {
  transition: fill 0.3s ease 0s, transform 0.3s ease 0s;
}
#diagrams-div .diagram-frame .settings-div .expand-button-opened svg, .diagrams-div .diagram-frame .settings-div .expand-button-opened svg {
  transform: rotate(180deg);
}
#diagrams-div .diagram-frame .settings-div .content-div .content-inner-div, .diagrams-div .diagram-frame .settings-div .content-div .content-inner-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-color-nav);
  padding: 4px 16px;
  transition: background-color 0.3s ease 0s;
}
#diagrams-div .diagram-frame .settings-div .content-div .content-inner-div label, #diagrams-div .diagram-frame .settings-div .content-div .content-inner-div h3, .diagrams-div .diagram-frame .settings-div .content-div .content-inner-div label, .diagrams-div .diagram-frame .settings-div .content-div .content-inner-div h3 {
  white-space: nowrap;
}
#diagrams-div .diagram-frame .settings-div .content-div .content-inner-div .apply-button, .diagrams-div .diagram-frame .settings-div .content-div .content-inner-div .apply-button {
  width: 50%;
  margin-left: auto;
  margin-right: 0px;
}
#diagrams-div .diagram-frame .diagram-info-div, .diagrams-div .diagram-frame .diagram-info-div {
  position: relative;
  margin-left: 26px;
  min-width: 580px;
  display: flex;
  align-items: center;
}
#diagrams-div .diagram-frame .diagram-info-div .text, .diagrams-div .diagram-frame .diagram-info-div .text {
  margin: 8px;
  margin-right: 4px;
}
#diagrams-div .diagram-frame .diagram-info-div .value, .diagrams-div .diagram-frame .diagram-info-div .value {
  margin: 8px;
  margin-left: 0px;
  font-weight: bold;
}
#diagrams-div .diagram-frame .diagram-info-div .download-button, .diagrams-div .diagram-frame .diagram-info-div .download-button {
  margin: 8px;
}
#diagrams-div .diagram-frame .diagram-info-div .download-button svg, .diagrams-div .diagram-frame .diagram-info-div .download-button svg {
  transition: fill 0.3s ease 0s, transform 0.3s ease 0s;
}

.diagram-wrapper-for-download {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.diagram {
  z-index: 1;
  min-height: 60px;
  position: relative;
  margin: 0px auto;
  padding: 16px;
  background-color: var(--background-color);
  transition: background-color 0.3s ease 0s, opacity var(--fade-transition);
}
.diagram .nodes-div .generation, .diagram .nodes-div .generation * {
  box-sizing: border-box;
}
.diagram .nodes-div .generation {
  display: flex;
  white-space: nowrap;
  transition: padding var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  padding: 0px calc(var(--node-horizontal-margin) * 2);
  transition: padding var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain .sibling {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage {
  display: flex;
  margin: 0px var(--node-horizontal-margin);
  padding: 0px;
  transition: margin var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage:has(.floating-and-hidden-marriage-nodes-div) {
  margin-left: calc(var(--node-horizontal-margin) * -1);
  transition: margin var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .marriage-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div .hidden-marriage-node {
  display: flex;
  align-items: center;
  border: 1px solid var(--foreground-color);
  border-radius: 0;
  padding: 4px;
  transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
  z-index: 1;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .highlighted-node:not(:hover) {
  animation: colorFade 0.5s ease-in-out infinite alternate;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .marriage-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div .hidden-marriage-node {
  width: var(--marriage-node-width);
  height: var(--marriage-node-height);
  margin: 0px var(--node-horizontal-margin);
  font-size: 11px;
  color: var(--foreground-color-disabled);
  background-color: var(--marriage-color);
  border-color: var(--foreground-color-disabled);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s, width var(--tree-size-transition), margin var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .marriage-node.interactive, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div .interactive.hidden-marriage-node {
  color: var(--foreground-color);
  border-color: var(--foreground-color);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div .floating-marriage-node {
  margin-top: auto;
  margin-bottom: auto;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .floating-and-hidden-marriage-nodes-div .hidden-marriage-node {
  margin-bottom: 0;
  visibility: hidden;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .couple {
  display: flex;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node {
  width: var(--person-node-width);
  color: var(--foreground-color-disabled);
  border-color: var(--foreground-color-disabled);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s, width var(--tree-size-transition);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image {
  width: var(--tree-person-image-width);
  height: var(--tree-person-image-height);
  fill: var(--foreground-color-disabled);
  margin-right: 4px;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image:hover {
  fill: var(--foreground-color-disabled);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node.interactive, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.female-node, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.male-node {
  color: var(--foreground-color);
  border-color: var(--foreground-color);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node.interactive .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.female-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.male-node .image {
  fill: var(--foreground-color);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node.interactive:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.female-node:hover, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.male-node:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
  cursor: pointer;
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node.interactive:hover .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.female-node:hover .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .interactive.male-node:hover .image {
  fill: var(--foreground-color-highlight);
}
.diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .duplicated-node {
  border-color: royalblue !important;
}
.diagram .paths-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.diagram .paths-svg .path-interactive {
  stroke-width: 10;
  fill: none;
  pointer-events: stroke;
}
.diagram .paths-svg .duplicated-path, .diagram .paths-svg .marriage-path, .diagram .paths-svg .adoptive-path, .diagram .paths-svg .biological-path {
  pointer-events: none;
  stroke-width: 1;
  fill: none;
  transition: stroke 0.3s ease 0s, stroke-width 0.3s linear 0s;
}
.diagram .paths-svg .biological-path {
  stroke: var(--foreground-color);
  stroke-dasharray: 4, 4;
}
.diagram .paths-svg .adoptive-path {
  stroke: orange;
  stroke-dasharray: 6, 6;
}
.diagram .paths-svg .marriage-path {
  stroke: forestgreen;
  stroke-dasharray: 0;
}
.diagram .paths-svg .duplicated-path {
  stroke: royalblue;
  stroke-dasharray: 10 4;
}
.diagram .paths-svg .path-interactive:hover + .biological-path,
.diagram .paths-svg .path-interactive:hover + .adoptive-path,
.diagram .paths-svg .path-interactive:hover + .duplicated-path {
  stroke-width: 4;
}

.tree-type-tooltip-content .description-div .title-div {
  font-weight: bold;
}
.tree-type-tooltip-content .description-div .text-div p {
  margin-left: 4px;
  margin-bottom: 8px;
}
.tree-type-tooltip-content .description-div .text-div ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 8px;
}
.tree-type-tooltip-content .description-div .text-div ul li {
  margin-bottom: 4px;
}
.tree-type-tooltip-content .description-div .text-div ul li.indented {
  margin-left: 8px;
}
.tree-type-tooltip-content .tree-div {
  margin: 0 calc(-1 * var(--node-horizontal-margin)) 0 0;
}
.tree-type-tooltip-content .text-span {
  margin-top: 8px;
  text-align: center;
  font-style: italic;
}

.person-tooltip-content .texts-div {
  padding: 0px;
  margin-top: 4px;
}
.person-tooltip-content .texts-div .name-text, .person-tooltip-content .texts-div .lived-text, .person-tooltip-content .texts-div .marriage-text {
  font-size: 14px;
  margin-top: 4px;
}
.person-tooltip-content .image {
  margin: 0 auto;
  width: 225px;
  height: 300px;
}

.marriage-tooltip-content .texts-div {
  padding: 0px;
}
.marriage-tooltip-content .texts-div .name-text, .marriage-tooltip-content .texts-div .lived-text, .marriage-tooltip-content .texts-div .marriage-text {
  font-size: 14px;
}

#summary p {
  font-style: italic;
  width: 25%;
}
#summary #test-progress-bar-div {
  display: flex;
  width: 25%;
  border: 1px solid var(--foreground-color);
  animation: colorFade 0.5s ease-in-out infinite alternate;
}
#summary #test-progress-bar-div #test-progress-bar-div-inner {
  background-color: var(--foreground-color);
  height: 16px;
  transition: width 0.3s ease 0s;
}
#summary #test-progress-status-div {
  display: flex;
  width: 25%;
}
#summary #test-progress-status-div div {
  display: flex;
  width: 33%;
}
#summary #test-progress-status-div div .number {
  margin-left: 4px;
}
#summary hr {
  width: 50%;
  margin-left: 0px;
  margin-bottom: 4px;
}

#scrollable-area {
  position: relative;
  overflow: hidden;
}
#scrollable-area #scroll-to-bottom-button, #scrollable-area #scroll-to-top-button {
  position: absolute;
  right: 0px;
  margin-right: 23px;
  z-index: 2;
}
#scrollable-area #scroll-to-top-button {
  top: 0px;
}
#scrollable-area #scroll-to-bottom-button {
  bottom: 0px;
}
#scrollable-area #scrollable-content {
  position: relative;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  --fade-transition-interval: 0.1s;
  --fade-transition: 0.1s linear;
  --tree-size-transition-interval: 0.1s;
  --tree-size-transition: 0.1s linear;
}
#scrollable-area #scrollable-content h2 {
  transition: opacity var(--fade-transition);
}
#scrollable-area #scrollable-content .test-case-title-div {
  margin: 0 0 4px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: opacity var(--fade-transition);
}
#scrollable-area #scrollable-content .test-case-title-div p {
  margin: 0;
}
#scrollable-area #scrollable-content .test-case-title-div button {
  margin: 0;
  transition: background-color 0.3s ease 0s, opacity 0.3s linear 0s;
}
#scrollable-area #scrollable-content .test-case-title-div button svg {
  transition: fill 0.3s ease 0s;
}
#scrollable-area #scrollable-content .test-case-title-div button:hover {
  background-color: var(--background-color-highlight);
}
#scrollable-area #scrollable-content .test-case-title-div button:hover svg {
  fill: var(--foreground-color-highlight);
}
#scrollable-area #scrollable-content .test-case-div {
  overflow: visible;
  width: fit-content;
  margin-bottom: 16px;
}
#scrollable-area #scrollable-content .test-case-div .diagrams-div {
  overflow: visible;
}
#scrollable-area #scrollable-content .test-case-div .diagrams-div .diagram-frame {
  margin: 0px auto 0px 0px;
}

.loading-text-disable-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--fade-transition);
  background-color: color-mix(in srgb, var(--background-color) 75%, transparent);
  z-index: 2;
}

.loading-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity var(--fade-transition);
  pointer-events: none;
  z-index: 3;
}
.loading-text-container .animated-loading-text-div {
  margin: 0px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}
.loading-text-container .animated-loading-text-div span {
  transition: color 0.3s ease 0s;
}
.loading-text-container .animated-loading-text-div .highlighted {
  color: var(--foreground-color-highlight);
}
.loading-text-container .custom-loading-text-label {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.pagination-container button {
  margin: 0px;
}
.pagination-container span {
  margin: 0px 8px;
}

.person-details {
  display: flex;
  flex-direction: column;
}
.person-details .top-row {
  width: 75%;
  position: relative;
  display: flex;
  margin: 0px auto;
}
.person-details .top-row .info-column {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.person-details .top-row .info-column .image {
  margin-bottom: 16px;
  width: 100%;
}
.person-details .top-row .info-column .name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.person-details .top-row .info-column .lived {
  font-size: 18px;
  text-align: center;
}
.person-details .top-row .relatives-column {
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0px 16px;
  overflow: auto;
}
.person-details .top-row .relatives-column .relatives-column-content {
  display: flex;
  flex-direction: column;
  transition: opacity var(--fade-transition);
}
.person-details .top-row .relatives-column .relatives-column-content button {
  margin-left: auto;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title {
  margin: 8px 0px;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .div-title {
  font-size: 14px;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div {
  display: flex;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive {
  margin: 2px;
  display: flex;
  color: var(--foreground-color-disabled);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s;
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img {
  fill: var(--foreground-color-disabled);
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .spouse-img:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img:hover, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img:hover {
  fill: var(--foreground-color-disabled);
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive {
  cursor: pointer;
  color: var(--foreground-color);
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .spouse-img {
  fill: var(--foreground-color);
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}
.person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive:hover .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive:hover .spouse-img {
  fill: var(--foreground-color-highlight);
}
.person-details .tree-row {
  display: flex;
  height: 94vh;
  padding: 64px 0px;
  box-sizing: border-box;
}
.person-details .tree-row #diagrams-div {
  padding: 16px;
}

.persons-filter {
  display: flex;
}
.persons-filter input, .persons-filter button {
  margin: 8px 0px;
}
.persons-filter span {
  margin: auto 4px auto auto;
}
.persons-filter select {
  margin: auto 0;
}

#persons-table {
  width: 100%;
  border-collapse: collapse;
}
#persons-table tr {
  display: flex;
  color: var(--foreground-color);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s;
}
#persons-table tr a {
  color: var(--foreground-color);
}
#persons-table th, #persons-table td {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
  border: 1px solid var(--foreground-color);
  transition: border 0.3s ease 0s;
  padding: 8px;
}
#persons-table th {
  color: var(--foreground-color);
  background-color: var(--background-color);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s;
}
#persons-table tr:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}
#persons-table tr:hover a {
  color: var(--foreground-color-highlight);
}
#persons-table .td-shrink {
  flex: 0;
  display: flex;
  overflow: unset;
  padding: 4px;
  align-items: center;
}
#persons-table .td-shrink .persons-action-button {
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
#persons-table .td-shrink .persons-action-svg {
  margin: 0px 4px;
}
#persons-table td:not(:last-child) {
  border-top-color: transparent;
  border-right-color: transparent;
}
#persons-table td:last-child {
  border-top-color: transparent;
}
#persons-table th:not(:last-child) {
  border-right-color: transparent;
}
#persons-table .persons-image {
  width: 30px;
  height: 40px;
}

.person-main-form {
  width: 500px;
}

.person-section {
  background-color: var(--background-color-nav);
  transition: background-color 0.3s ease 0s;
  border-radius: 4px;
  padding: 8px;
  padding-left: 16px;
  margin-bottom: 32px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.dropdown .dropdown-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.dropdown .dropdown-header .dropdown-header-selected-option {
  flex-grow: 1;
}
.dropdown .dropdown-header .dropdown-header-expand-button {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  background-color: transparent;
  transition: transform 0.3s ease 0s;
  align-self: center;
}
.dropdown .dropdown-header .dropdown-header-expand-button-opened {
  transform: rotate(180deg);
}
.dropdown .dropdown-header-opened {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
}
.dropdown .dropdown-menu-invisible-parent {
  margin: -8px 8px 0px 0px;
  height: 0px;
  position: relative;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  height: 0;
  visibility: collapse;
  background-color: var(--background-color);
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu .dropdown-menu-filter-input {
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--foreground-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul {
  list-style: none;
  padding: 0px;
  margin: 1px;
  max-height: 400px;
  overflow: auto;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul li {
  padding: 8px;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul li.selected-option {
  background-color: var(--background-color-highlight);
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu-opened {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.dropdown .option-with-image {
  display: flex;
  flex-direction: row;
}
.dropdown .option-with-image:hover .person-image-small, .dropdown .option-with-image:hover .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .person-node .dropdown .option-with-image:hover .image, .dropdown .option-with-image:hover .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .male-node .dropdown .option-with-image:hover .image, .dropdown .option-with-image:hover .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .image, .diagram .nodes-div .generation .siblings-chain .sibling .extended-marriage .main-marriage .female-node .dropdown .option-with-image:hover .image, .dropdown .option-with-image:hover .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative .dropdown .option-with-image:hover .non-spouse-img, .dropdown .option-with-image:hover .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .non-spouse-img, .person-details .top-row .relatives-column .relatives-column-content .div-with-title .horizontal-relatives-div .relative-container .relative-interactive .dropdown .option-with-image:hover .non-spouse-img {
  fill: var(--foreground-color-highlight);
}
.dropdown .option-with-image .person-name-span {
  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.person-preview-image {
  width: 100%;
  margin: 8px 0;
}

.person-action-button {
  margin-bottom: 16px;
  margin-right: 0px;
  font-size: 14px;
}

.person-delete-person-button {
  color: var(--error-color);
  border-color: var(--error-color);
}
.person-delete-person-button:hover {
  color: var(--error-color);
  border-color: var(--error-color);
}

#cropper-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#cropper-image-and-button-container {
  position: relative;
  background-color: var(--background-color);
  padding: 16px;
  text-align: center;
}

#image-to-crop {
  max-width: 100%;
  max-height: 400px;
}

.success-popup-container, .error-popup-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px 4px 0 0;
}
.success-popup-container .popup-message-and-close-button-container, .error-popup-container .popup-message-and-close-button-container {
  padding: 8px 16px;
  display: flex;
}
.success-popup-container .popup-message-and-close-button-container .popup-message, .error-popup-container .popup-message-and-close-button-container .popup-message {
  align-content: center;
  font-size: 18px;
  margin-right: 8px;
  transition: color 0.3s ease 0s;
}
.success-popup-container .popup-message-and-close-button-container .popup-close-button, .error-popup-container .popup-message-and-close-button-container .popup-close-button {
  padding: 0px;
  margin: 0px;
  font-size: 28px;
  border: none;
}
.success-popup-container .popup-loading-bar, .error-popup-container .popup-loading-bar {
  width: 100%;
  height: 2px;
  transition: width 8s linear 0s;
}
.success-popup-container .popup-loading-bar .popup-loading-bar-inner-div, .error-popup-container .popup-loading-bar .popup-loading-bar-inner-div {
  width: 100%;
  height: 100%;
  background-color: var(--foreground-color-highlight);
  transition: background-color 0.3s ease 0s;
}

.success-popup-container {
  color: #C7D1DB;
  background-color: forestgreen;
}
.success-popup-container:hover {
  color: white;
  background-color: forestgreen;
}
.success-popup-container .popup-close-button {
  color: #C7D1DB;
  background-color: forestgreen;
}
.success-popup-container .popup-close-button:hover {
  color: white;
  background-color: forestgreen;
}

.error-popup-container {
  color: #C7D1DB;
  background-color: red;
}
.error-popup-container:hover {
  color: white;
  background-color: red;
}
.error-popup-container .popup-close-button {
  color: #C7D1DB;
  background-color: red;
}
.error-popup-container .popup-close-button:hover {
  color: white;
  background-color: red;
}
