:root.theme-dark {
  --foreground-color: #C7D1DB;
  --foreground-color-highlight: white;
  --foreground-color-disabled: gray;
  --background-color: #161A1D;
  --background-color-nav: #22272B;
  --background-color-footer: #2C333A;
  --background-color-highlight: #454F59;
  --male-color: #2C333A;
  --female-color: #22272B;
  --marriage-color: #161A1D;
  --success-color: forestgreen;
  --error-color: red;
  --success-popup-foreground-color: #C7D1DB;
  --success-popup-foreground-color-highlight: white;
  --success-popup-background-color: forestgreen;
  --error-popup-foreground-color: #C7D1DB;
  --error-popup-foreground-color-highlight: white;
  --error-popup-background-color: red;
}

:root.theme-light {
  --foreground-color: #22272B;
  --foreground-color-highlight: black;
  --foreground-color-disabled: gray;
  --background-color: #F7F8F9;
  --background-color-nav: #F1F2F4;
  --background-color-footer: #DEE4EA;
  --background-color-highlight: #DCDFE4;
  --male-color: #DEE4EA;
  --female-color: #F1F2F4;
  --marriage-color: #F7F8F9;
  --success-color: forestgreen;
  --error-color: red;
  --success-popup-foreground-color: #C7D1DB;
  --success-popup-foreground-color-highlight: white;
  --success-popup-background-color: forestgreen;
  --error-popup-foreground-color: #C7D1DB;
  --error-popup-foreground-color-highlight: white;
  --error-popup-background-color: red;
}

:root.theme-light {
  --default-transition-interval: 0.3s;
  --popup-loading-bar-transition-interval: 8s;
  --popup-loading-bar-transition-function: linear;
}

:root.theme-dark {
  --default-transition-interval: 0.3s;
  --popup-loading-bar-transition-interval: 8s;
  --popup-loading-bar-transition-function: linear;
}

html {
  font-size: 11px;
  font-family: "Fira Sans", sans-serif;
  color: var(--foreground-color);
  transition: color 0.3s linear 0s;
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-and-right-container {
  flex: 1;
  display: flex;
  overflow: auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-nav);
  transition: background-color 0.3s linear 0s;
}

.right-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  background-color: var(--background-color);
  transition: background-color 0.3s linear 0s;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.page-data-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 64px;
  margin-top: 0px;
  min-width: 800px;
  min-height: 600px;
}

.footer-container {
  display: flex;
  background-color: var(--background-color-footer);
  transition: background-color 0.3s linear 0s;
}

.grid-for-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.grid-for-inputs label {
  margin-top: 0px;
}

.grid-for-input-with-error-span {
  display: grid;
}

.flex-row-with-gap {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-one {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.collapsed {
  display: none;
}

.relative {
  position: relative;
}

h1 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
}

button, select, option, a, input[type=text], input[type=radio], .dropdown-header, .dropdown-menu li {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s;
}
button:hover, select:hover, option:hover, a:hover, input[type=text]:hover, input[type=radio]:hover, .dropdown-header:hover, .dropdown-menu li:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
}

button, select, input[type=text], .dropdown-header, .dropdown-menu {
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
}

label {
  margin-top: 8px;
  margin-right: 8px;
}

.error-span-small-with-top-margin {
  color: var(--error-color);
  font-size: 11px;
}

.error-span-small-with-bottom-margin {
  color: var(--error-color);
  margin-bottom: 8px;
}

.error-span-small-with-top-margin {
  margin-top: 8px;
}

a {
  background-color: transparent;
}
a:hover {
  background-color: transparent;
}

button {
  padding: 8px;
  margin: 8px;
  display: inline-block;
}
button:disabled {
  color: var(--foreground-color-disabled);
  background-color: var(--background-color);
  border-color: var(--foreground-color-disabled);
  cursor: auto;
}

select {
  padding: 8px;
  margin: 8px;
  margin-left: 0px;
}

option {
  background-color: var(--background-color);
}

input[type=text], .dropdown-header {
  padding: 8px;
  margin: 8px;
  margin-left: 0px;
  cursor: auto;
}

input[type=text]::placeholder {
  color: var(--foreground-color-disabled);
  font-style: italic;
}

.dropdown .option-with-image .person-svg, .small-svg, .person-info-image, #persons-table .td-shrink .persons-action-svg {
  fill: var(--foreground-color);
  transition: fill 0.3s linear 0s;
}
.dropdown .option-with-image .person-svg:hover, .small-svg:hover, .person-info-image:hover, #persons-table .td-shrink .persons-action-svg:hover {
  fill: var(--foreground-color-highlight);
}

.small-svg, .person-info-image, #persons-table .td-shrink .persons-action-svg {
  width: 20px;
  height: 20px;
  margin: 0px;
  vertical-align: middle;
}

fieldset {
  padding: 0px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  border: none;
}
fieldset label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
fieldset label:hover {
  color: var(--foreground-color-highlight);
  transition: color 0.3s linear 0s;
}
fieldset input[type=radio] {
  appearance: none;
  margin: 0px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: background-color 0.3s linear 0s;
  cursor: pointer;
}
fieldset input[type=radio]:checked {
  background-color: var(--foreground-color);
  box-shadow: inset 0 0 0 2px var(--background-color), 0 0 0 0.5px var(--foreground-color);
  transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
}
fieldset input[type=radio]:checked:hover {
  background-color: var(--foreground-color-highlight);
}
fieldset input[type=text] {
  margin-bottom: 0px;
}

.toggleable-container {
  display: grid;
  transition: grid-template-rows 0.3s ease-out 0s;
}

.toggleable-container > div {
  overflow: hidden;
}

.toggleable-container > div.tooltip-container.overflowvisible {
  overflow: visible;
}

.toggleable-container-open {
  grid-template-rows: 1fr;
}

.nav-logo-container-hyperlink {
  height: auto;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 16px 0px;
  padding: 16px;
  padding-left: 0px;
}
.nav-logo-container-hyperlink:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.nav-logo-image {
  width: 50px;
  height: 100%;
  margin-right: 4px;
}

.nav-ul {
  background-color: inherit;
  list-style-type: none;
  padding: 0;
}

.nav-li.active {
  background-color: var(--background-color);
  transition: background-color 0.3s linear 0s;
  font-weight: bold;
}

.nav-a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 14px;
}
.nav-a:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.footer-logo-container-hyperlink {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 8px;
}
.footer-logo-container-hyperlink:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}

.footer-logo-img {
  width: 40px;
  height: 100%;
  margin: 0px 4px 0px 0px;
}

.theme-switcher-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}
.theme-switcher-container .switch-control {
  margin: 4px auto;
  position: relative;
  width: 50px;
  height: 26px;
}
.theme-switcher-container .switch-control .slider-rectangle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-nav);
  transition: background-color 0.3s linear 0s, transform 0.3s;
  border-radius: 13px;
}
.theme-switcher-container .switch-control .slider-rectangle:hover {
  background-color: var(--background-color-highlight);
}
.theme-switcher-container .switch-control .slider-rectangle:hover:before {
  background-color: var(--foreground-color-highlight);
}
.theme-switcher-container .switch-control .slider-rectangle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: var(--foreground-color);
  transition: background-color 0.3s linear 0s, transform 0.3s;
}
.theme-switcher-container .switch-control input:checked + .slider-rectangle:before {
  transform: translateX(22px);
}
.theme-switcher-container #theme-label {
  margin: 4px;
}

#tree-diagrams-container {
  display: flex;
  position: relative;
  flex: 1;
  overflow: auto;
}

.tree-diagram-container {
  position: absolute;
  top: 0;
  left: 0;
}

.tree-lines-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: transparent;
}

.tree-generation {
  display: flex;
  white-space: nowrap;
  text-align: center;
}

.tree-siblings-container {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  padding: 0px 37.5px;
}

.tree-extended-marriage {
  display: flex;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.tree-simple-marriage {
  display: inline-block;
  padding: 0px;
}

.tree-node-marriage, .tree-node-female, .tree-node-male {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 200px;
  padding: 4px;
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
  transition: background-color 0.3s linear 0s, border 0.3s linear 0s;
}

.tree-node-male {
  background-color: var(--male-color);
}

.tree-node-female {
  background-color: var(--female-color);
}

.tree-node-marriage {
  width: 70px;
  margin: auto 15px;
  font-size: 11px;
  background-color: var(--marriage-color);
  vertical-align: central;
}

.tree-node-image {
  margin-right: 4px;
  min-height: 60px;
  min-width: 45px;
  height: 60px;
  width: 45px;
  object-fit: cover;
  display: block;
}

.tree-node-texts {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
}

.tree-node-marriage-date-text, .tree-node-marriage-text, .tree-node-main-lived-text, .tree-node-main-name-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-size: 11px;
}

.tree-node-main-name-text {
  font-weight: bold;
}

.tree-node-marriage-date-text {
  font-weight: bold;
}

.tree-action-button {
  position: absolute;
  margin: 3px;
  padding: 3px;
  border: none;
  top: 4px;
  right: 4px;
  background-color: transparent;
}
.tree-action-button:hover {
  background-color: transparent;
}

.tree-line-marriage-svg, .tree-line-adoptive-svg, .tree-line-biological-svg {
  stroke-width: 1px;
  transition: stroke 0.3s linear 0s;
  fill: transparent;
}

.tree-line-biological-svg {
  stroke: var(--foreground-color);
  stroke-dasharray: 4, 4;
}

.tree-line-adoptive-svg {
  stroke-dasharray: 6, 6;
  stroke: orange;
}

.tree-line-marriage-svg {
  stroke: forestgreen;
}

#loading-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading-text-container #loading-text-label {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}
#loading-text-container #loading-progress-text-label {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.pagination-container button {
  margin: 0px;
}
.pagination-container span {
  margin: 0px 8px;
}

.persons-filter {
  display: flex;
}
.persons-filter input, .persons-filter button {
  margin: 8px 0px;
}
.persons-filter span {
  margin: auto 4px auto auto;
}
.persons-filter select {
  margin: auto 0;
}

#persons-table {
  width: 100%;
  border-collapse: collapse;
}
#persons-table tr {
  display: flex;
  color: var(--foreground-color);
  transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s;
}
#persons-table tr a {
  color: var(--foreground-color);
}
#persons-table th, #persons-table td {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
  border: 1px solid var(--foreground-color);
  transition: border 0.3s linear 0s;
  padding: 8px;
}
#persons-table th {
  color: var(--foreground-color);
  background-color: var(--background-color);
  transition: color 0.3s linear 0s, background-color 0.3s linear 0s, border 0.3s linear 0s;
}
#persons-table tr:hover {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
}
#persons-table tr:hover a {
  color: var(--foreground-color-highlight);
}
#persons-table .td-shrink {
  flex: 0;
  display: flex;
  overflow: unset;
  padding: 4px;
  align-items: center;
}
#persons-table .td-shrink .persons-action-button {
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
#persons-table .td-shrink .persons-action-svg {
  margin: 0px 4px;
}
#persons-table td:not(:last-child) {
  border-top-color: transparent;
  border-right-color: transparent;
}
#persons-table td:last-child {
  border-top-color: transparent;
}
#persons-table th:not(:last-child) {
  border-right-color: transparent;
}
#persons-table .persons-image {
  width: 30px;
  height: 40px;
}

.person-main-form {
  width: 500px;
}

.person-section {
  background-color: var(--background-color-nav);
  transition: background-color 0.3s linear 0s;
  border-radius: 4px;
  padding: 8px;
  padding-left: 16px;
  margin-bottom: 32px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.dropdown .dropdown-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.dropdown .dropdown-header .dropdown-header-selected-option {
  flex-grow: 1;
}
.dropdown .dropdown-header .dropdown-header-expand-button {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  background-color: transparent;
  transition: transform 0.3s linear 0s;
  align-self: center;
}
.dropdown .dropdown-header .dropdown-header-expand-button-opened {
  transform: rotate(180deg);
}
.dropdown .dropdown-header-opened {
  color: var(--foreground-color-highlight);
  background-color: var(--background-color-highlight);
  border-color: var(--foreground-color-highlight);
}
.dropdown .dropdown-menu-invisible-parent {
  margin: -8px 8px 0px 0px;
  height: 0px;
  position: relative;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s linear 0s;
  opacity: 0;
  height: 0;
  visibility: collapse;
  background-color: var(--background-color);
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu .dropdown-menu-filter-input {
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--foreground-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul {
  list-style: none;
  padding: 0px;
  margin: 1px;
  max-height: 400px;
  overflow: auto;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul li {
  padding: 8px;
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu ul li.selected-option {
  background-color: var(--background-color-highlight);
}
.dropdown .dropdown-menu-invisible-parent .dropdown-menu-opened {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.dropdown .option-with-image {
  display: flex;
  flex-direction: row;
}
.dropdown .option-with-image .person-image {
  width: 30px;
  height: 40px;
}
.dropdown .option-with-image .person-svg {
  width: 30px;
  height: 40px;
}
.dropdown .option-with-image:hover .person-svg {
  fill: var(--foreground-color-highlight);
}
.dropdown .option-with-image .person-name-span {
  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.person-info-image {
  margin: 8px 8px 0 -4px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  background-color: var(--background-color);
  color: var(--foreground-color-highlight);
  padding: 8px;
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
  white-space: nowrap;
  position: absolute;
  top: 110%;
  left: 25%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear 0s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.person-preview-image {
  width: 100%;
  margin: 8px 0;
}

.person-action-button {
  margin-bottom: 16px;
  margin-right: 0px;
  font-size: 14px;
}

.person-delete-person-button {
  color: var(--error-color);
  border-color: var(--error-color);
}
.person-delete-person-button:hover {
  color: var(--error-color);
  border-color: var(--error-color);
}

#cropper-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#cropper-image-and-button-container {
  position: relative;
  background-color: var(--background-color);
  padding: 16px;
  text-align: center;
}

#image-to-crop {
  max-width: 100%;
  max-height: 400px;
}

.success-popup-container, .error-popup-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px 4px 0 0;
}
.success-popup-container .popup-message-and-close-button-container, .error-popup-container .popup-message-and-close-button-container {
  padding: 8px 16px;
  display: flex;
}
.success-popup-container .popup-message-and-close-button-container .popup-message, .error-popup-container .popup-message-and-close-button-container .popup-message {
  align-content: center;
  font-size: 18px;
  margin-right: 8px;
  transition: color 0.3s linear 0s;
}
.success-popup-container .popup-message-and-close-button-container .popup-close-button, .error-popup-container .popup-message-and-close-button-container .popup-close-button {
  padding: 0px;
  margin: 0px;
  font-size: 28px;
  border: none;
}
.success-popup-container .popup-loading-bar, .error-popup-container .popup-loading-bar {
  width: 100%;
  height: 2px;
  transition: width 8s linear 0s;
}
.success-popup-container .popup-loading-bar .popup-loading-bar-inner-div, .error-popup-container .popup-loading-bar .popup-loading-bar-inner-div {
  width: 100%;
  height: 100%;
  background-color: var(--foreground-color-highlight);
  transition: background-color 0.3s linear 0s;
}

.success-popup-container {
  color: var(--success-popup-foreground-color);
  background-color: var(--success-popup-background-color);
}
.success-popup-container:hover {
  color: var(--success-popup-foreground-color-highlight);
  background-color: var(--success-popup-background-color);
}
.success-popup-container .popup-close-button {
  color: var(--success-popup-foreground-color);
  background-color: var(--success-popup-background-color);
}
.success-popup-container .popup-close-button:hover {
  color: var(--success-popup-foreground-color-highlight);
  background-color: var(--success-popup-background-color);
}

.error-popup-container {
  color: var(--error-popup-foreground-color);
  background-color: var(--error-popup-background-color);
}
.error-popup-container:hover {
  color: var(--error-popup-foreground-color-highlight);
  background-color: var(--error-popup-background-color);
}
.error-popup-container .popup-close-button {
  color: var(--error-popup-foreground-color);
  background-color: var(--error-popup-background-color);
}
.error-popup-container .popup-close-button:hover {
  color: var(--error-popup-foreground-color-highlight);
  background-color: var(--error-popup-background-color);
}

.fade-hidden {
  visibility: hidden;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear 0s, visibility 0s var(--default-transition-interval);
}
