$font-family-default: 'Fira Sans', sans-serif;

$success-color-default: forestgreen;
$error-color-default: red;

$foreground-color-dark: #C7D1DB;
$foreground-color-highlight-dark: white;
$foreground-color-disabled-dark: gray;

$background-color-dark: #161A1D;
$background-color-nav-dark: #22272B;
$background-color-footer-dark: #2C333A;
$background-color-highlight-dark: #454F59;

$male-color-dark: $background-color-footer-dark;
$female-color-dark: $background-color-nav-dark;
$marriage-color-dark: $background-color-dark;

$success-color-dark: $success-color-default;
$error-color-dark: $error-color-default;

$success-popup-foreground-color-dark: $foreground-color-dark;
$success-popup-foreground-color-highlight-dark: $foreground-color-highlight-dark;
$success-popup-background-color-dark: $success-color-dark;
$error-popup-foreground-color-dark: $foreground-color-dark;
$error-popup-foreground-color-highlight-dark: $foreground-color-highlight-dark;
$error-popup-background-color-dark: $error-color-dark;

$foreground-color-light: #22272B;
$foreground-color-highlight-light: black;
$foreground-color-disabled-light: gray;

$background-color-light: #F7F8F9;
$background-color-nav-light: #F1F2F4;
$background-color-footer-light: #DEE4EA;
$background-color-highlight-light: #DCDFE4;

$male-color-light: $background-color-footer-light;
$female-color-light: $background-color-nav-light;
$marriage-color-light: $background-color-light;

$success-color-light: $success-color-default;
$error-color-light: $error-color-default;

$success-popup-foreground-color-light: $foreground-color-dark;
$success-popup-foreground-color-highlight-light: $foreground-color-highlight-dark;
$success-popup-background-color-light: $success-color-light;
$error-popup-foreground-color-light: $foreground-color-dark;
$error-popup-foreground-color-highlight-light: $foreground-color-highlight-dark;
$error-popup-background-color-light: $error-color-light;

%theme-dark {
    --foreground-color: #{$foreground-color-dark};
    --foreground-color-highlight: #{$foreground-color-highlight-dark};
    --foreground-color-disabled: #{$foreground-color-disabled-dark};
    --background-color: #{$background-color-dark};
    --background-color-nav: #{$background-color-nav-dark};
    --background-color-footer: #{$background-color-footer-dark};
    --background-color-highlight: #{$background-color-highlight-dark};
    --male-color: #{$male-color-dark};
    --female-color: #{$female-color-dark};
    --marriage-color: #{$marriage-color-dark};
    --success-color: #{$success-color-dark};
    --error-color: #{$error-color-dark};
    --success-popup-foreground-color: #{$success-popup-foreground-color-dark};
    --success-popup-foreground-color-highlight: #{$success-popup-foreground-color-highlight-dark};
    --success-popup-background-color: #{$success-popup-background-color-dark};
    --error-popup-foreground-color: #{$error-popup-foreground-color-dark};
    --error-popup-foreground-color-highlight: #{$error-popup-foreground-color-highlight-dark};
    --error-popup-background-color: #{$error-popup-background-color-dark};
}

%theme-light {
    --foreground-color: #{$foreground-color-light};
    --foreground-color-highlight: #{$foreground-color-highlight-light};
    --foreground-color-disabled: #{$foreground-color-disabled-light};
    --background-color: #{$background-color-light};
    --background-color-nav: #{$background-color-nav-light};
    --background-color-footer: #{$background-color-footer-light};
    --background-color-highlight: #{$background-color-highlight-light};
    --male-color: #{$male-color-light};
    --female-color: #{$female-color-light};
    --marriage-color: #{$marriage-color-light};
    --success-color: #{$success-color-light};
    --error-color: #{$error-color-light};
    --success-popup-foreground-color: #{$success-popup-foreground-color-light};
    --success-popup-foreground-color-highlight: #{$success-popup-foreground-color-highlight-light};
    --success-popup-background-color: #{$success-popup-background-color-light};
    --error-popup-foreground-color: #{$error-popup-foreground-color-light};
    --error-popup-foreground-color-highlight: #{$error-popup-foreground-color-highlight-light};
    --error-popup-background-color: #{$error-popup-background-color-light};
}

$default-transition-interval: 0.3s;
$default-transition-function: linear;
$default-transition: $default-transition-interval $default-transition-function 0s;

$toggle-transition-interval: $default-transition-interval;
$toggle-transition-function: ease-out;
$toggle-transition: $toggle-transition-interval $toggle-transition-function 0s;

$popup-loading-bar-transition-interval: 8s;
$popup-loading-bar-transition-function: $default-transition-function;
$popup-loading-bar-transition: $popup-loading-bar-transition-interval $popup-loading-bar-transition-function 0s;

:root.theme-light {
    @extend %theme-light;
    --default-transition-interval: #{$default-transition-interval};
    --popup-loading-bar-transition-interval: #{$popup-loading-bar-transition-interval};
    --popup-loading-bar-transition-function: #{$popup-loading-bar-transition-function};
}

:root.theme-dark {
    @extend %theme-dark;
    --default-transition-interval: #{$default-transition-interval};
    --popup-loading-bar-transition-interval: #{$popup-loading-bar-transition-interval};
    --popup-loading-bar-transition-function: #{$popup-loading-bar-transition-function};
}

$font-size-small: 11px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-extra-large: 28px;

$thickness-extra-small: 2px;
$thickness-small: 4px;
$thickness-medium: 8px;
$thickness-large: 16px;
$thickness-extra-large: 32px;
$thickness-super-large: 64px;

$border: 1px solid var(--foreground-color);
$border-radius: $thickness-small;

$person-node-width: 200px;
$distance-between-nodes: 15px;
$node-image-width: 45px;
$node-image-height: 60px;
$marriage-node-width: 70px;

$persons-and-dropdown-image-width: 30px;
$persons-and-dropdown-image-height: 40px;

$small-svg-size: 20px;

html {
    font-size: $font-size-small;
    font-family: $font-family-default;
    color: var(--foreground-color);
    transition: color $default-transition;
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-and-right-container {
    flex: 1;
    display: flex;
    overflow: auto;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-nav);
    transition: background-color $default-transition;
}

.right-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    background-color: var(--background-color);
    transition: background-color $default-transition;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.page-data-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: $thickness-super-large;
    margin-top: 0px;
    min-width: 800px;
    min-height: 600px;
}

.footer-container {
    display: flex;
    background-color: var(--background-color-footer);
    transition: background-color $default-transition;
}

.grid-for-inputs {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    label {
        margin-top: 0px;
    }
}

.grid-for-input-with-error-span {
    display: grid;
}

.flex-row-with-gap {
    display: flex;
    flex-direction: row;
    column-gap: $thickness-large;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-align-items-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-one {
    flex: 1;
}

.hidden {
    visibility: hidden;
}

.collapsed {
    display: none;
}

.relative {
    position: relative;
}

h1 {
    font-size: $font-size-extra-large;
    margin-top: $thickness-large;
    margin-bottom: $thickness-large;
}

h2 {
    font-size: $font-size-large;
    margin-top: $thickness-large;
    margin-bottom: $thickness-medium;
}

h3 {
    font-size: $font-size-medium;
    margin-top: $thickness-medium;
    margin-bottom: $thickness-small;
}

button, select, option, a, input[type="text"], input[type="radio"], .dropdown-header, .dropdown-menu li {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: color $default-transition, background-color $default-transition, border $default-transition;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);
        border-color: var(--foreground-color-highlight);
    }
}

button, select, input[type="text"], .dropdown-header, .dropdown-menu {
    border: $border;
    border-radius: $border-radius;
}

label {
    margin-top: $thickness-medium;
    margin-right: $thickness-medium;
}

%error-span-small {
    color: var(--error-color);
    font-size: $font-size-small;
}

.error-span-small-with-bottom-margin {
    color: var(--error-color);
    margin-bottom: $thickness-medium;
}

.error-span-small-with-top-margin {
    @extend %error-span-small;
    margin-top: $thickness-medium;
}

a {
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

%button {
    padding: $thickness-medium;
    margin: $thickness-medium;
    display: inline-block;

    &:disabled {
        color: var(--foreground-color-disabled);
        background-color: var(--background-color);
        border-color: var(--foreground-color-disabled);
        cursor: auto;
    }
}

button {
    @extend %button;
}

select {
    padding: $thickness-medium;
    margin: $thickness-medium;
    margin-left: 0px;
}

option {
    background-color: var(--background-color);
}

input[type="text"], .dropdown-header {
    padding: $thickness-medium;
    margin: $thickness-medium;
    margin-left: 0px;
    cursor: auto;
}

input[type="text"]::placeholder {
    color: var(--foreground-color-disabled);
    font-style: italic;
}

%hoverable-svg {
    fill: var(--foreground-color);
    transition: fill $default-transition;

    &:hover {
        fill: var(--foreground-color-highlight);
    }
}

.small-svg {
    @extend %hoverable-svg;
    width: $small-svg-size;
    height: $small-svg-size;
    margin: 0px;
    vertical-align: middle;
}

fieldset {
    padding: 0px;
    margin-bottom: $thickness-medium;
    display: flex;
    flex-direction: column;
    border: none;

    label {
        display: flex;
        align-items: center;
        gap: $thickness-small;
        cursor: pointer;

        &:hover {
            color: var(--foreground-color-highlight);
            transition: color $default-transition;
        }
    }

    input[type=radio] {
        appearance: none;
        margin: 0px;
        width: $font-size-small;
        height: $font-size-small;
        border-radius: 50%;
        background-color: var(--background-color);
        transition: background-color $default-transition;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        background-color: var(--foreground-color);
        box-shadow: inset 0 0 0 2px var(--background-color), 0 0 0 0.5px var(--foreground-color);
        transition: background-color $default-transition, box-shadow $default-transition;

        &:hover {
            background-color: var(--foreground-color-highlight);
        }
    }

    input[type="text"] {
        margin-bottom: 0px;
    }
}

.toggleable-container {
    display: grid;
    transition: grid-template-rows $toggle-transition;
}

.toggleable-container > div {
    overflow: hidden;
}

.toggleable-container > div.tooltip-container.overflowvisible {
    overflow: visible;
}

.toggleable-container-open {
    grid-template-rows: 1fr;
}

.nav-logo-container-hyperlink {
    height: auto;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: $thickness-large 0px;
    padding: $thickness-large;
    padding-left: 0px;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.nav-logo-image {
    width: 50px;
    height: 100%;
    margin-right: $thickness-small;
}

.nav-ul {
    background-color: inherit;
    list-style-type: none;
    padding: 0;
}

.nav-li.active {
    background-color: var(--background-color);
    transition: background-color $default-transition;
    font-weight: bold;
}

.nav-a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: $thickness-medium $thickness-large;
    font-size: $font-size-medium;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.footer-logo-container-hyperlink {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: $thickness-medium;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.footer-logo-img {
    width: 40px;
    height: 100%;
    margin: 0px $thickness-small 0px 0px;
}

.theme-switcher-container {
    margin: $thickness-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;

    .switch-control {
        margin: $thickness-small auto;
        position: relative;
        width: 50px;
        height: 26px;

        .slider-rectangle {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--background-color-nav);
            transition: background-color $default-transition, transform $default-transition-interval;
            border-radius: 13px;

            &:hover {
                background-color: var(--background-color-highlight);
            }

            &:hover:before {
                background-color: var(--foreground-color-highlight);
            }
        }

        .slider-rectangle:before {
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 3px;
            border-radius: 50%;
            background-color: var(--foreground-color);
            transition: background-color $default-transition, transform $default-transition-interval;
        }

        input:checked + .slider-rectangle:before {
            transform: translateX(22px);
        }
    }

    #theme-label {
        margin: $thickness-small;
    }
}


#tree-diagrams-container {
    display: flex;
    position: relative;
    flex: 1;
    overflow: auto;
}

.tree-diagram {
    position: absolute;
    top: 0;
    left: 0;
}

.tree-lines-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: transparent;
}

.tree-generation {
    display: flex;
    white-space: nowrap;
    text-align: center;
}

.tree-siblings-container {
    display: flex;
    padding: 0px;
    margin: 0px auto;
    padding: 0px calc($distance-between-nodes * 2.5);
}

.tree-extended-marriage {
    display: flex;
    padding: 0px $distance-between-nodes;
    margin-left: auto;
    margin-right: auto;
}

.tree-simple-marriage {
    display: inline-block;
    padding: 0px;
}

%tree-node {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: $person-node-width;
    padding: $thickness-small;
    border: $border;
    border-radius: $border-radius;
    transition: background-color $default-transition, border $default-transition;
}

.tree-node-male {
    @extend %tree-node;
    background-color: var(--male-color);
}

.tree-node-female {
    @extend %tree-node;
    background-color: var(--female-color);
}

.tree-node-marriage {
    @extend %tree-node;
    width: $marriage-node-width;
    margin: auto $distance-between-nodes;
    font-size: $font-size-small;
    background-color: var(--marriage-color);
    vertical-align: central;
}

.tree-node-image {
    margin-right: $thickness-small;
    min-height: $node-image-height;
    min-width: $node-image-width;
    height: $node-image-height;
    width: $node-image-width;
    object-fit: cover;
    display: block;
}

.tree-node-texts {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

%tree-node-main-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: $font-size-small;
}

.tree-node-main-name-text {
    @extend %tree-node-main-text;
    font-weight: bold;
}

.tree-node-main-lived-text {
    @extend %tree-node-main-text;
}

.tree-node-marriage-text {
    @extend %tree-node-main-text;
}

.tree-node-marriage-date-text {
    @extend %tree-node-main-text;
    font-weight: bold;
}

.tree-action-button {
    position: absolute;
    margin: 3px;
    padding: 3px;
    border: none;
    top: $thickness-small;
    right: $thickness-small;
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

%tree-line-svg {
    stroke-width: 1px;
    transition: stroke $default-transition;
    fill: transparent;
}

.tree-line-biological-svg {
    @extend %tree-line-svg;
    stroke: var(--foreground-color);
    stroke-dasharray: 4,4;
}

.tree-line-adoptive-svg {
    @extend %tree-line-svg;
    stroke-dasharray: 6,6;
    stroke: orange;
}

.tree-line-marriage-svg {
    @extend %tree-line-svg;
    stroke: forestgreen;
}

#loading-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #loading-text-label {
        margin: 0px;
        margin-bottom: $thickness-large;
        font-size: $font-size-large;
        font-weight: bold;
    }

    #loading-progress-text-label {
        margin: 0px;
        text-align: center;
        font-size: $font-size-medium;
        font-weight: bold;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $thickness-medium;
    padding: $thickness-medium;

    button {
        margin: 0px;
    }

    span {
        margin: 0px $thickness-medium;
    }
}


.persons-filter {
    display: flex;

    input, button {
        margin: $thickness-medium 0px;
    }

    span {
        margin: auto $thickness-small auto auto;
    }

    select {
        margin: auto 0;
    }
}



#persons-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        display: flex;
        color: var(--foreground-color);

        a {
            color: var(--foreground-color);
        }

        transition: color $default-transition, background-color $default-transition, border $default-transition;
    }

    th, td {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-content: center;
        border: $border;
        transition: border $default-transition;
        padding: $thickness-medium;
    }

    th {
        color: var(--foreground-color);
        background-color: var(--background-color);
        transition: color $default-transition, background-color $default-transition, border $default-transition;
    }

    tr:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);

        a {
            color: var(--foreground-color-highlight);
        }
    }

    .td-shrink {
        flex: 0;
        display: flex;
        overflow: unset;
        padding: $thickness-small;
        align-items: center;

        .persons-action-button {
            border: none;
            margin: 0px;
            padding: 0px;
            background-color: transparent;
        }

        .persons-action-svg {
            @extend .small-svg;
            margin: 0px $thickness-small;
        }
    }

    td:not(:last-child) {
        border-top-color: transparent;
        border-right-color: transparent;
    }

    td:last-child {
        border-top-color: transparent;
    }

    th:not(:last-child) {
        border-right-color: transparent;
    }

    .persons-image {
        width: $persons-and-dropdown-image-width;
        height: $persons-and-dropdown-image-height;
    }
}

.person-main-form {
    width: 500px;
}

.person-section {
    background-color: var(--background-color-nav);
    transition: background-color $default-transition;
    border-radius: $border-radius;
    padding: $thickness-medium;
    padding-left: calc($thickness-medium * 2);
    margin-bottom: $thickness-extra-large;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: $thickness-medium;

    .dropdown-header {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .dropdown-header-selected-option {
            flex-grow: 1;
        }

        .dropdown-header-expand-button {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid;
            background-color: transparent;
            transition: transform $default-transition;
            align-self: center;
        }

        .dropdown-header-expand-button-opened {
            transform: rotate(180deg);
        }
    }

    .dropdown-header-opened {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);
        border-color: var(--foreground-color-highlight);
    }

    .dropdown-menu-invisible-parent {
        margin: -$thickness-medium $thickness-medium 0px 0px;
        height: 0px;
        position: relative;

        .dropdown-menu {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: opacity $default-transition;
            opacity: 0;
            height: 0;
            visibility: collapse;
            background-color: var(--background-color);

            .dropdown-menu-filter-input {
                margin: 0px;
                border: none;
                border-bottom: $border;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            ul {
                list-style: none;
                padding: 0px;
                margin: 1px;
                max-height: 400px;
                overflow: auto;

                li {
                    padding: $thickness-medium;
                }

                li.selected-option {
                    background-color: var(--background-color-highlight);
                }
            }
        }

        .dropdown-menu-opened {
            opacity: 1;
            height: auto;
            visibility: visible;
        }
    }

    .option-with-image {
        display: flex;
        flex-direction: row;

        .person-image {
            width: $persons-and-dropdown-image-width;
            height: $persons-and-dropdown-image-height;
        }

        .person-svg {
            @extend %hoverable-svg;
            width: $persons-and-dropdown-image-width;
            height: $persons-and-dropdown-image-height;
        }

        &:hover {
            .person-svg {
                fill: var(--foreground-color-highlight);
            }
        }

        .person-name-span {
            flex-grow: 1;
            align-content: center;
            text-align: center;
        }
    }
}

.person-info-image {
    @extend .small-svg;
    margin: $thickness-medium $thickness-medium 0 calc($thickness-small * -1);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    background-color: var(--background-color);
    color: var(--foreground-color-highlight);
    padding: $thickness-medium;
    border: $border;
    border-radius: $border-radius;
    white-space: nowrap;
    position: absolute;
    top: 110%;
    left: 25%;
    opacity: 0;
    visibility: hidden;
    transition: opacity $default-transition;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.person-preview-image {
    width: 100%;
    margin: $thickness-medium 0;
}

.person-action-button {
    margin-bottom: $thickness-large;
    margin-right: 0px;
    font-size: $font-size-medium;
}

.person-delete-person-button {
    color: var(--error-color);
    border-color: var(--error-color);

    &:hover {
        color: var(--error-color);
        border-color: var(--error-color);
    }
}

#cropper-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#cropper-image-and-button-container {
    position: relative;
    background-color: var(--background-color);
    padding: $thickness-large;
    text-align: center;
}

#image-to-crop {
    max-width: 100%;
    max-height: 400px;
}


.success-popup-container, .error-popup-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: $thickness-large;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $border-radius $border-radius 0 0;

    .popup-message-and-close-button-container {
        padding: $thickness-medium $thickness-large;
        display: flex;

        .popup-message {
            align-content: center;
            font-size: $font-size-large;
            margin-right: $thickness-medium;
            transition: color $default-transition;
        }

        .popup-close-button {
            padding: 0px;
            margin: 0px;
            font-size: $font-size-extra-large;
            border: none;
        }
    }

    .popup-loading-bar {
        width: 100%;
        height: $thickness-extra-small;
        transition: width $popup-loading-bar-transition;
        // div used to set the background-color transition
        // this way we're able to edit the width transition on the parent
        // without needing to carry the background-color transition as well
        .popup-loading-bar-inner-div {
            width: 100%;
            height: 100%;
            background-color: var(--foreground-color-highlight);
            transition: background-color $default-transition;
        }
    }
}

.success-popup-container {
    color: var(--success-popup-foreground-color);
    background-color: var(--success-popup-background-color);

    &:hover {
        color: var(--success-popup-foreground-color-highlight);
        background-color: var(--success-popup-background-color);
    }

    .popup-close-button {
        color: var(--success-popup-foreground-color);
        background-color: var(--success-popup-background-color);

        &:hover {
            color: var(--success-popup-foreground-color-highlight);
            background-color: var(--success-popup-background-color);
        }
    }
}

.error-popup-container {
    color: var(--error-popup-foreground-color);
    background-color: var(--error-popup-background-color);

    &:hover {
        color: var(--error-popup-foreground-color-highlight);
        background-color: var(--error-popup-background-color);
    }

    .popup-close-button {
        color: var(--error-popup-foreground-color);
        background-color: var(--error-popup-background-color);

        &:hover {
            color: var(--error-popup-foreground-color-highlight);
            background-color: var(--error-popup-background-color);
        }
    }
}

.fade-hidden {
    visibility: hidden;
    opacity: 0;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity $default-transition;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity $default-transition, visibility 0s var(--default-transition-interval);
}
