$font-family-default: 'Fira Sans', sans-serif;

$pending-color-default: gray;
$success-color-default: forestgreen;
$error-color-default: red;
$marriage-line-color-default: forestgreen;
$adoptive-line-color-default: orange;

$foreground-color-dark: #C7D1DB;
$foreground-color-highlight-dark: white;
$foreground-color-disabled-dark: #454F59;

$background-color-dark: #161A1D;
$background-color-nav-dark: #22272B;
$background-color-footer-dark: #2C333A;
$background-color-highlight-dark: $foreground-color-disabled-dark;

$male-color-dark: $background-color-footer-dark;
$female-color-dark: $background-color-nav-dark;
$marriage-color-dark: $background-color-dark;

$foreground-color-light: #22272B;
$foreground-color-highlight-light: black;
$foreground-color-disabled-light: #DCDFE4;

$background-color-light: #F7F8F9;
$background-color-nav-light: #F1F2F4;
$background-color-footer-light: #DEE4EA;
$background-color-highlight-light: $foreground-color-disabled-light;

$male-color-light: $background-color-footer-light;
$female-color-light: $background-color-nav-light;
$marriage-color-light: $background-color-light;

%theme-dark {
    --foreground-color: #{$foreground-color-dark};
    --foreground-color-highlight: #{$foreground-color-highlight-dark};
    --foreground-color-disabled: #{$foreground-color-disabled-dark};
    --background-color: #{$background-color-dark};
    --background-color-nav: #{$background-color-nav-dark};
    --background-color-footer: #{$background-color-footer-dark};
    --background-color-highlight: #{$background-color-highlight-dark};
    --male-color: #{$male-color-dark};
    --female-color: #{$female-color-dark};
    --marriage-color: #{$marriage-color-dark};
}

%theme-light {
    --foreground-color: #{$foreground-color-light};
    --foreground-color-highlight: #{$foreground-color-highlight-light};
    --foreground-color-disabled: #{$foreground-color-disabled-light};
    --background-color: #{$background-color-light};
    --background-color-nav: #{$background-color-nav-light};
    --background-color-footer: #{$background-color-footer-light};
    --background-color-highlight: #{$background-color-highlight-light};
    --male-color: #{$male-color-light};
    --female-color: #{$female-color-light};
    --marriage-color: #{$marriage-color-light};
}

$default-transition-interval: 0.3s;
$default-transition-function: ease;
$default-transition: $default-transition-interval $default-transition-function 0s;

$color-transition-interval: 0.3s;
$color-transition-function: ease;
$color-transition: $color-transition-interval $color-transition-function 0s;

$fade-transition-interval: 0.3s;
$fade-transition-function: linear;
$fade-transition: $fade-transition-interval $fade-transition-function 0s;

$tree-size-transition-interval: 1s;
$tree-size-transition-function: ease;
$tree-size-transition: $tree-size-transition-interval $tree-size-transition-function 0s;

$transition-buffer-interval: 0.01s;

$toggle-transition-interval: 0.3s;
$toggle-transition-function: ease;
$toggle-transition: $toggle-transition-interval $toggle-transition-function 0s;

$tooltip-transition-interval: 0.3s;
$tooltip-transition-function: linear;
$tooltip-transition: $tooltip-transition-interval $tooltip-transition-function 0s;

$popup-loading-bar-transition-interval: 8s;
$popup-loading-bar-transition-function: linear;
$popup-loading-bar-transition: $popup-loading-bar-transition-interval $popup-loading-bar-transition-function 0s;

$scroll-transition-interval: 0.3s;
$scroll-bar-size: 15px;

$person-node-width-small: 80px;
$person-node-width-medium: 115px;
$person-node-width-large: 175px;

$marriage-node-width-small: 60px;
$marriage-node-width-medium: 90px;
$marriage-node-width-large: 150px;

$node-horizontal-margin-small: 5px;
$node-horizontal-margin-medium: 7px;
$node-horizontal-margin-large: 9px;

$node-lines-vertical-offset-small: 5;
$node-lines-vertical-offset-medium: 7;
$node-lines-vertical-offset-large: 10;

%theme-properties {
    --color-transition-interval: #{$color-transition-interval};
    --fade-transition-interval: #{$fade-transition-interval};
    --fade-transition: #{$fade-transition};
    --tree-size-transition-interval: #{$tree-size-transition-interval};
    --tree-size-transition: #{$tree-size-transition};
    --transition-buffer-interval: #{$transition-buffer-interval};
    --scroll-transition-interval: #{$scroll-transition-interval};
    --scroll-bar-size: #{$scroll-bar-size};
    --popup-loading-bar-transition-interval: #{$popup-loading-bar-transition-interval};
    --person-node-width-small: #{$person-node-width-small};
    --person-node-width-medium: #{$person-node-width-medium};
    --person-node-width-large: #{$person-node-width-large};
    --person-node-width: #{$person-node-width-medium};
    --marriage-node-width-small: #{$marriage-node-width-small};
    --marriage-node-width-medium: #{$marriage-node-width-medium};
    --marriage-node-width-large: #{$marriage-node-width-large};
    --marriage-node-width: #{$marriage-node-width-medium};
    --node-horizontal-margin-small: #{$node-horizontal-margin-small};
    --node-horizontal-margin-medium: #{$node-horizontal-margin-medium};
    --node-horizontal-margin-large: #{$node-horizontal-margin-large};
    --node-horizontal-margin: #{$node-horizontal-margin-medium};
    --node-lines-vertical-offset-small: #{$node-lines-vertical-offset-small};
    --node-lines-vertical-offset-medium: #{$node-lines-vertical-offset-medium};
    --node-lines-vertical-offset-large: #{$node-lines-vertical-offset-large};
}

:root.theme-light {
    @extend %theme-light;
    @extend %theme-properties;
}

:root.theme-dark {
    @extend %theme-dark;
    @extend %theme-properties;
}

$font-size-small: 11px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-extra-large: 28px;

$thickness-extra-small: 2px;
$thickness-small: 4px;
$thickness-medium: 8px;
$thickness-large: 16px;
$thickness-extra-large: 32px;
$thickness-super-large: 64px;

$border: 1px solid var(--foreground-color);
$border-radius: $thickness-small;

$tree-diagram-min-height: 60px;

$person-small-image-height: 40px;
$person-small-image-width: $person-small-image-height * 0.75;

$person-medium-image-width: $person-small-image-width * 1.4;
$person-medium-image-height: $person-small-image-height * 1.4;

$svg-small-size: 20px;
$svg-large-size: 32px;

html {
    font-size: $font-size-small;
    font-family: $font-family-default;
    color: var(--foreground-color);
    transition: color $color-transition;
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-and-right-container {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-nav);
    transition: background-color $color-transition;
}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--background-color);
    transition: background-color $color-transition;
}

.top-container {
    display: flex;
    justify-content: flex-end;
}

.page-data-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: $thickness-super-large;
    margin-top: 0px;
    min-width: 800px;
    min-height: 600px;
}

.footer-container {
    min-height: 6vh;
    display: flex;
    background-color: var(--background-color-footer);
    transition: background-color $color-transition;
}

.grid-for-inputs {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    label {
        margin-top: 0px;
    }
}

.grid-for-input-with-error-span {
    display: grid;
}

.flex-row-with-gap {
    display: flex;
    flex-direction: row;
    column-gap: $thickness-large;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-align-items-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-one {
    flex: 1;
}

.hidden {
    visibility: hidden;
}

.collapsed {
    display: none;
}

.relative {
    position: relative;
}

.transparent {
    opacity: 0.9;
}

h1 {
    font-size: $font-size-extra-large;
    margin-top: $thickness-large;
    margin-bottom: $thickness-large;
}

h2 {
    font-size: $font-size-large;
    margin-top: $thickness-large;
    margin-bottom: $thickness-medium;
}

h3 {
    font-size: $font-size-medium;
    margin-top: $thickness-medium;
    margin-bottom: $thickness-small;
}

button, select, option, a, input[type="text"], input[type="radio"], .dropdown-header, .dropdown-menu li {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: color $color-transition, background-color $color-transition, border $color-transition, opacity var(--fade-transition);

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);
        border-color: var(--foreground-color-highlight);
    }
}

button, select, input[type="text"], .dropdown-header, .dropdown-menu {
    border: $border;
    border-radius: $border-radius;
}

.flat-button {
    border: none;
    border-radius: 0px;
}

%flat-button-with-svg {
    @extend .flat-button;
    background-color: var(--background-color-nav);
    box-sizing: border-box;
    transition: background-color $color-transition, opacity var(--fade-transition);

    svg {
        width: 100%;
        height: 100%;
        fill: var(--foreground-color);
        transition: fill $color-transition;
    }

    &:hover {
        background-color: var(--background-color-highlight);

        svg {
            fill: var(--foreground-color-highlight);
        }
    }
}

.flat-button-small-with-svg {
    @extend %flat-button-with-svg;
    padding: $thickness-small;
    width: $svg-small-size;
    height: $svg-small-size;
}

.flat-button-large-with-svg {
    @extend %flat-button-with-svg;
    padding: $thickness-medium;
    width: $svg-large-size;
    height: $svg-large-size;
}

.svg-div {
    width: $svg-small-size;
    height: $svg-small-size;
    padding: $thickness-small;
    box-sizing: border-box;
    border-radius: $thickness-extra-small;
    transition: opacity var(--fade-transition);

    svg {
        width: 100%;
        height: 100%;
        fill: $foreground-color-dark;
    }
}

label {
    margin-top: $thickness-medium;
    margin-right: $thickness-medium;
}

%error-span-small {
    color: var(--error-color);
    font-size: $font-size-small;
}

.error-span-small-with-bottom-margin {
    color: var(--error-color);
    margin-bottom: $thickness-medium;
}

.error-span-small-with-top-margin {
    @extend %error-span-small;
    margin-top: $thickness-medium;
}

a {
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

%button {
    padding: $thickness-medium;
    margin: $thickness-medium;
    display: inline-block;

    &:disabled {
        color: var(--foreground-color-disabled);
        background-color: var(--background-color);
        border-color: var(--foreground-color-disabled);
        cursor: auto;
    }
}

button {
    @extend %button;
}

select {
    padding: $thickness-medium;
    margin: $thickness-medium;
    margin-left: 0px;
}

option {
    background-color: var(--background-color);
}

input[type="text"], .dropdown-header {
    padding: $thickness-medium;
    margin: $thickness-medium;
    margin-left: 0px;
    cursor: auto;
}

input[type="text"]::placeholder {
    color: var(--foreground-color-disabled);
    font-style: italic;
}

.male-background-color {
    background-color: var(--male-color);
    transition: background-color $color-transition;
}

.female-background-color {
    background-color: var(--female-color);
    transition: background-color $color-transition;
}

%svg-static {
    fill: var(--foreground-color);
    transition: fill $color-transition;
}

%svg-hoverable {
    @extend %svg-static;

    &:hover {
        fill: var(--foreground-color-highlight);
    }
}

.svg-small {
    @extend %svg-hoverable;
    width: $svg-small-size;
    height: $svg-small-size;
    margin: 0px;
    vertical-align: middle;
}

.info-svg {
    @extend .svg-small;
    margin: $thickness-medium $thickness-medium 0 calc($thickness-small * -1);
}

.person-small-image {
    @extend %svg-hoverable;
    width: $person-small-image-width;
    height: $person-small-image-height;
}

.phantom-image-div {
    aspect-ratio: 3 / 4;

    .phantom-svg {
        width: 100%;
        height: 100%;

        .phantom-use {
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    background-color: var(--background-color);
    color: var(--foreground-color-highlight);
    padding: $thickness-medium;
    border: $border;
    border-radius: $border-radius;
    white-space: nowrap;
    position: absolute;
    top: 110%;
    left: 25%;
    opacity: 0;
    visibility: hidden;
    transition: opacity $tooltip-transition;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

fieldset {
    padding: 0px;
    margin-bottom: $thickness-medium;
    display: flex;
    flex-direction: column;
    border: none;

    label {
        display: flex;
        align-items: center;
        gap: $thickness-small;
        cursor: pointer;

        &:hover {
            color: var(--foreground-color-highlight);
            transition: color $color-transition;
        }
    }

    input[type=radio] {
        appearance: none;
        margin: 0px;
        margin-right: $thickness-extra-small;
        width: $font-size-small;
        height: $font-size-small;
        border-radius: 50%;
        background-color: var(--background-color);
        transition: background-color $color-transition;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        background-color: var(--foreground-color);
        box-shadow: inset 0 0 0 2px var(--background-color), 0 0 0 0.5px var(--foreground-color);
        transition: background-color $color-transition, box-shadow $color-transition;

        &:hover {
            background-color: var(--foreground-color-highlight);
        }
    }

    input[type="text"] {
        margin-bottom: 0px;
    }
}

.vertical-toggleable-container {
    display: grid;
    transition: grid-template-rows $toggle-transition;
}

.vertical-toggleable-container > div {
    overflow: hidden;
}

.vertical-toggleable-container > div.tooltip-container.overflowvisible {
    overflow: visible;
}

.vertical-toggleable-container-open {
    grid-template-rows: 1fr;
}

.horizontal-toggleable-container {
    display: grid;
    transition: grid-template-columns $toggle-transition;
}

.horizontal-toggleable-container > div {
    overflow: hidden;
}

.horizontal-toggleable-container-open {
    grid-template-columns: 1fr;
}

.nav-logo-container-hyperlink {
    height: auto;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: $thickness-large 0px;
    padding: $thickness-large;
    padding-left: 0px;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.nav-logo-image {
    width: 50px;
    height: 100%;
    margin-right: $thickness-small;
}

.nav-ul {
    background-color: inherit;
    list-style-type: none;
    padding: 0;
}

.nav-li.active {
    background-color: var(--background-color);
    transition: background-color $color-transition;
    font-weight: bold;
}

.nav-a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: $thickness-medium $thickness-large;
    font-size: $font-size-medium;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.footer-logo-container-hyperlink {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: $thickness-medium;

    &:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight)
    }
}

.footer-logo-img {
    width: 40px;
    height: 100%;
    margin: 0px $thickness-small 0px 0px;
}

.theme-switcher-container {
    margin: $thickness-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;

    .switch-control {
        margin: $thickness-small auto;
        position: relative;
        width: 50px;
        height: 26px;

        .slider-rectangle {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--background-color-nav);
            transition: background-color $color-transition, transform $toggle-transition-interval;
            border-radius: 13px;

            &:hover {
                background-color: var(--background-color-highlight);
            }

            &:hover:before {
                background-color: var(--foreground-color-highlight);
            }
        }

        .slider-rectangle:before {
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 3px;
            border-radius: 50%;
            background-color: var(--foreground-color);
            transition: background-color $color-transition, transform $toggle-transition-interval;
        }

        input:checked + .slider-rectangle:before {
            transform: translateX(22px);
        }
    }

    #theme-label {
        margin: $thickness-small;
    }
}

#tree-diagrams-div {
    position: relative;
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .diagram-frame {
        position: relative;
        border: 1px solid var(--foreground-color);
        margin: 0px auto;
        transition: opacity var(--fade-transition), border $color-transition;

        .settings-div {
            position: absolute;
            z-index: 2;
            display: flex;
            width: fit-content;
            top: $thickness-medium;
            left: $thickness-medium;
            transition: opacity $fade-transition;

            .expand-button {
                @extend .flat-button-small-with-svg;
                margin: 0px;

                svg {
                    transition: fill $color-transition, transform $toggle-transition;
                }
            }

            .expand-button-opened {
                svg {
                    transform: rotate(180deg);
                }
            }

            .content-div {
                .content-inner-div {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    background-color: var(--background-color-nav);
                    padding: $thickness-medium;
                    transition: background-color $color-transition;

                    label, h3 {
                        white-space: nowrap;
                    }

                    .apply-button {
                        @extend .flat-button;
                        width: 50%;
                        margin-left: auto;
                        margin-right: 0px;
                    }
                }
            }
        }

        .diagram-info-div {
            position: relative;
            margin-left: calc($thickness-medium * 3 + $thickness-extra-small);
            min-width: 550px;

            .text {
                display: inline-block;
                margin: $thickness-medium;
                margin-right: $thickness-small;
            }

            .value {
                display: inline-block;
                margin: $thickness-medium;
                margin-left: 0px;
                font-weight: bold;
            }
        }

        .diagram {
            min-height: $tree-diagram-min-height;
            position: relative;
            margin: 0px auto;
            padding: $thickness-large;
            transition: opacity var(--fade-transition);

            .nodes-div {
                .generation, .generation * {
                    box-sizing: border-box;
                }

                .generation {
                    display: flex;
                    white-space: nowrap;
                    transition: padding var(--tree-size-transition);

                    .siblings-chain {
                        display: flex;
                        padding: 0px;
                        margin: 0px auto;
                        padding: 0px calc(var(--node-horizontal-margin) * 2);
                        transition: padding var(--tree-size-transition);

                        .sibling {
                            display: flex;
                            margin: 0px;
                            padding: 0px;

                            .extended-marriage {
                                display: flex;
                                margin: 0px var(--node-horizontal-margin);
                                padding: 0px;
                                transition: margin var(--tree-size-transition);

                                &:has(.floating-and-hidden-marriage-nodes-div) {
                                    margin-left: calc(var(--node-horizontal-margin) * -1);
                                    transition: margin var(--tree-size-transition);
                                }

                                .node {
                                    display: flex;
                                    align-items: center;
                                    border: $border;
                                    border-radius: 0;
                                    padding: $thickness-small;
                                    transition: background-color $color-transition, border $color-transition;

                                    .texts-div {
                                        display: flex;
                                        flex-grow: 1;
                                        flex-direction: column;
                                        overflow: hidden;

                                        %text {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            text-align: center;
                                            font-size: $font-size-small;
                                        }
                                    }
                                }

                                .highlighted-node:not(:hover) {
                                    animation: colorFade 0.5s linear infinite alternate;

                                    @keyframes colorFade {
                                        to {
                                            background-color: var(--background-color-highlight);
                                        }
                                    }
                                }

                                .marriage-node {
                                    @extend .node;
                                    width: var(--marriage-node-width);
                                    margin: 0px var(--node-horizontal-margin);
                                    font-size: $font-size-small;
                                    color: var(--foreground-color-disabled);
                                    background-color: var(--marriage-color);
                                    border-color: var(--foreground-color-disabled);
                                    transition: color $color-transition, background-color $color-transition, border-color $color-transition, width var(--tree-size-transition), margin var(--tree-size-transition);

                                    .marriage-text {
                                        @extend %text;
                                    }
                                }

                                .marriage-node.interactive {
                                    color: var(--foreground-color);
                                    border-color: var(--foreground-color);
                                }

                                .floating-and-hidden-marriage-nodes-div {
                                    position: relative;
                                    display: flex;
                                    flex-direction: column;

                                    .floating-marriage-node {
                                        margin-top: auto;
                                        margin-bottom: auto;
                                    }

                                    .hidden-marriage-node {
                                        @extend .marriage-node;
                                        margin-bottom: 0;
                                        visibility: hidden;
                                    }
                                }

                                .main-marriage {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0px;
                                    align-items: center;

                                    .couple {
                                        display: flex;
                                    }

                                    .person-node {
                                        @extend .node;
                                        width: var(--person-node-width);
                                        color: var(--foreground-color-disabled);
                                        border-color: var(--foreground-color-disabled);
                                        transition: color $color-transition, background-color $color-transition, border $color-transition, width var(--tree-size-transition);

                                        .image-div {
                                            width: $person-small-image-width;
                                            height: $person-small-image-height;
                                        }

                                        .image {
                                            @extend .person-small-image;
                                            fill: var(--foreground-color-disabled);
                                            margin-right: $thickness-small;

                                            &:hover {
                                                fill: var(--foreground-color-disabled);
                                            }
                                        }

                                        .name-text {
                                            @extend %text;
                                            font-weight: bold;
                                        }

                                        .lived-text {
                                            @extend %text;
                                        }
                                    }

                                    .person-node.interactive {
                                        color: var(--foreground-color);
                                        border-color: var(--foreground-color);

                                        .image {
                                            fill: var(--foreground-color);
                                        }

                                        &:hover {
                                            color: var(--foreground-color-highlight);
                                            background-color: var(--background-color-highlight);
                                            border-color: var(--foreground-color-highlight);
                                            cursor: pointer;

                                            .image {
                                                fill: var(--foreground-color-highlight);
                                            }
                                        }
                                    }

                                    .male-node {
                                        @extend .person-node;
                                        @extend .male-background-color;
                                    }

                                    .female-node {
                                        @extend .person-node;
                                        @extend .female-background-color;
                                    }

                                    .static-marriage-node {
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .lines-svg {
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                background-color: transparent;

                %line-svg {
                    stroke-width: 1px;
                    transition: stroke $color-transition;
                    fill: transparent;
                }

                .biological-line-svg {
                    @extend %line-svg;
                    stroke: var(--foreground-color);
                    stroke-dasharray: 4,4;
                }

                .adoptive-line-svg {
                    @extend %line-svg;
                    stroke-dasharray: 6,6;
                    stroke: $adoptive-line-color-default;
                }

                .marriage-line-svg {
                    @extend %line-svg;
                    stroke: $marriage-line-color-default;
                }
            }
        }
    }
}

.scrollable-area {
    position: relative;
    overflow: hidden;

    %scroll-to-button {
        @extend .flat-button-large-with-svg;
        position: absolute;
        right: 0px;
        margin-right: calc($thickness-medium + $scroll-bar-size);
        z-index: 2;
    }

    #scroll-to-top-button {
        @extend %scroll-to-button;
        top: 0px;
    }

    #scroll-to-bottom-button {
        @extend %scroll-to-button;
        bottom: 0px;
    }
}

// the tree-diagrams-div also gets the class test-trees-div
#tree-diagrams-div.test-trees-div {
    --fade-transition-interval: 0.1s;
    --fade-transition: 0.1s linear;
    --tree-size-transition-interval: 0.1s;
    --tree-size-transition: 0.1s linear;

    #test-progress-bar-div {
        display: flex;
        width: 500px;
        border: $border;

        #test-progress-bar-div-inner {
            background-color: var(--foreground-color);
            height: $thickness-large;
            transition: width $default-transition;
        }
    }

    #test-progress-status-div {
        display: flex;

        div {
            display: flex;
            width: 100px;

            .number {
                margin-left: $thickness-small;
            }
        }
    }

    #test-lines-div {
        h2 {
            transition: opacity var(--fade-transition);
        }

        .test-line-div {
            margin: 0 0 $thickness-small $thickness-large;
            display: flex;
            gap: $thickness-medium;
            align-items: center;
            transition: opacity var(--fade-transition);

            .pending-svg-div {
                @extend .svg-div;
                background-color: $pending-color-default;
            }

            .success-svg-div {
                @extend .svg-div;
                background-color: $success-color-default;
            }

            .error-svg-div {
                @extend .svg-div;
                background-color: $error-color-default;
            }

            p {
                margin: 0;
            }

            button {
                margin: 0;
                transition: opacity $fade-transition;
            }
        }
    }

    .diagram-frame {
        margin: 0px auto $thickness-large 0px;
    }
}

.loading-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--fade-transition);

    .animated-loading-text-div {
        margin: 0px;
        margin-bottom: $thickness-large;
        font-weight: bold;
        font-size: $font-size-large;

        span {
            transition: color $color-transition;
        }

        .highlighted {
            color: var(--foreground-color-highlight);
        }
    }

    .custom-loading-text-label {
        margin: 0px;
        text-align: center;
        font-size: $font-size-medium;
        font-weight: bold;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $thickness-medium;
    padding: $thickness-medium;

    button {
        margin: 0px;
    }

    span {
        margin: 0px $thickness-medium;
    }
}

.person-details {
    display: flex;
    flex-direction: column;

    .top-row {
        width: 75%;
        position: relative;
        display: flex;
        margin: 0px auto;

        .info-column {
            width: 30%;
            display: flex;
            flex-direction: column;

            .image {
                @extend %svg-hoverable;
                margin-bottom: $thickness-large;
                width: 100%;
            }

            .name {
                margin-bottom: $thickness-medium;
                font-size: $font-size-large;
                font-weight: bold;
                text-align: center;
            }

            .lived {
                font-size: $font-size-large;
                text-align: center;
            }
        }

        .relatives-column {
            position: absolute;
            left: 30%;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 0px $thickness-large;
            overflow: auto;

            .relatives-column-content {
                display: flex;
                flex-direction: column;
                transition: opacity var(--fade-transition);

                button {
                    margin-left: auto;
                }

                .div-with-title {
                    margin: $thickness-medium 0px;

                    .div-title {
                        font-size: $font-size-medium;
                    }

                    .horizontal-relatives-div {
                        display: flex;

                        .relative {
                            display: flex;
                            width: 100%;
                            min-width: 0;
                            border: $thickness-extra-small solid var(--background-color);
                            transition: color $color-transition, background-color $color-transition, border $color-transition;
                            box-sizing: border-box;

                            .texts-div {
                                flex-grow: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                min-width: 0;
                                padding: $thickness-small;

                                .text {
                                    text-align: center;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }

                                .name-text {
                                    @extend .text;
                                    font-weight: bold;
                                }

                                .lived-text {
                                    @extend .text;
                                }

                                .marriage-text {
                                    @extend .text;
                                }
                            }

                            .non-spouse-img {
                                @extend .person-small-image;
                                // cancel hovering effect
                                &:hover {
                                    fill: var(--foreground-color);
                                }

                                flex-shrink: 0;
                            }

                            .spouse-img {
                                @extend .person-small-image;
                                // cancel hovering effect
                                &:hover {
                                    fill: var(--foreground-color);
                                }

                                width: ($person-small-image-width * 1.4);
                                height: ($person-small-image-height * 1.4);
                                flex-shrink: 0;
                            }
                        }

                        .relative-interactive {
                            @extend .relative;
                            cursor: pointer;

                            &:hover {
                                color: var(--foreground-color-highlight);
                                background-color: var(--background-color-highlight);

                                .person-small-image {
                                    fill: var(--foreground-color-highlight);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .tree-row {
        display: flex;
        height: 94vh;
        padding: $thickness-super-large 0px;
        box-sizing: border-box;

        #tree-diagrams-div {
            padding: $thickness-large;
        }
    }
}

.persons-filter {
    display: flex;

    input, button {
        margin: $thickness-medium 0px;
    }

    span {
        margin: auto $thickness-small auto auto;
    }

    select {
        margin: auto 0;
    }
}



#persons-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        display: flex;
        color: var(--foreground-color);

        a {
            color: var(--foreground-color);
        }

        transition: color $color-transition, background-color $color-transition, border $color-transition;
    }

    th, td {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-content: center;
        border: $border;
        transition: border $color-transition;
        padding: $thickness-medium;
    }

    th {
        color: var(--foreground-color);
        background-color: var(--background-color);
        transition: color $color-transition, background-color $color-transition, border $color-transition;
    }

    tr:hover {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);

        a {
            color: var(--foreground-color-highlight);
        }
    }

    .td-shrink {
        flex: 0;
        display: flex;
        overflow: unset;
        padding: $thickness-small;
        align-items: center;

        .persons-action-button {
            border: none;
            margin: 0px;
            padding: 0px;
            background-color: transparent;
        }

        .persons-action-svg {
            @extend .svg-small;
            margin: 0px $thickness-small;
        }
    }

    td:not(:last-child) {
        border-top-color: transparent;
        border-right-color: transparent;
    }

    td:last-child {
        border-top-color: transparent;
    }

    th:not(:last-child) {
        border-right-color: transparent;
    }

    .persons-image {
        width: $person-small-image-width;
        height: $person-small-image-height;
    }
}

.person-main-form {
    width: 500px;
}

.person-section {
    background-color: var(--background-color-nav);
    transition: background-color $color-transition;
    border-radius: $border-radius;
    padding: $thickness-medium;
    padding-left: calc($thickness-medium * 2);
    margin-bottom: $thickness-extra-large;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: $thickness-medium;

    .dropdown-header {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .dropdown-header-selected-option {
            flex-grow: 1;
        }

        .dropdown-header-expand-button {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid;
            background-color: transparent;
            transition: transform $toggle-transition;
            align-self: center;
        }

        .dropdown-header-expand-button-opened {
            transform: rotate(180deg);
        }
    }

    .dropdown-header-opened {
        color: var(--foreground-color-highlight);
        background-color: var(--background-color-highlight);
        border-color: var(--foreground-color-highlight);
    }

    .dropdown-menu-invisible-parent {
        margin: -$thickness-medium $thickness-medium 0px 0px;
        height: 0px;
        position: relative;

        .dropdown-menu {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: opacity $toggle-transition;
            opacity: 0;
            height: 0;
            visibility: collapse;
            background-color: var(--background-color);

            .dropdown-menu-filter-input {
                margin: 0px;
                border: none;
                border-bottom: $border;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            ul {
                list-style: none;
                padding: 0px;
                margin: 1px;
                max-height: 400px;
                overflow: auto;

                li {
                    padding: $thickness-medium;
                }

                li.selected-option {
                    background-color: var(--background-color-highlight);
                }
            }
        }

        .dropdown-menu-opened {
            opacity: 1;
            height: auto;
            visibility: visible;
        }
    }

    .option-with-image {
        display: flex;
        flex-direction: row;

        &:hover {
            .person-small-image {
                fill: var(--foreground-color-highlight);
            }
        }

        .person-name-span {
            flex-grow: 1;
            align-content: center;
            text-align: center;
        }
    }
}

.person-preview-image {
    width: 100%;
    margin: $thickness-medium 0;
}

.person-action-button {
    margin-bottom: $thickness-large;
    margin-right: 0px;
    font-size: $font-size-medium;
}

.person-delete-person-button {
    color: var(--error-color);
    border-color: var(--error-color);

    &:hover {
        color: var(--error-color);
        border-color: var(--error-color);
    }
}

#cropper-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#cropper-image-and-button-container {
    position: relative;
    background-color: var(--background-color);
    padding: $thickness-large;
    text-align: center;
}

#image-to-crop {
    max-width: 100%;
    max-height: 400px;
}


.success-popup-container, .error-popup-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: $thickness-large;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $border-radius $border-radius 0 0;

    .popup-message-and-close-button-container {
        padding: $thickness-medium $thickness-large;
        display: flex;

        .popup-message {
            align-content: center;
            font-size: $font-size-large;
            margin-right: $thickness-medium;
            transition: color $color-transition;
        }

        .popup-close-button {
            padding: 0px;
            margin: 0px;
            font-size: $font-size-extra-large;
            border: none;
        }
    }

    .popup-loading-bar {
        width: 100%;
        height: $thickness-extra-small;
        transition: width $popup-loading-bar-transition;
        // div used to set the background-color transition
        // this way we're able to edit the width transition on the parent
        // without needing to carry the background-color transition as well
        .popup-loading-bar-inner-div {
            width: 100%;
            height: 100%;
            background-color: var(--foreground-color-highlight);
            transition: background-color $color-transition;
        }
    }
}

.success-popup-container {
    color: $foreground-color-dark;
    background-color: $success-color-default;

    &:hover {
        color: $foreground-color-highlight-dark;
        background-color: $success-color-default;
    }

    .popup-close-button {
        color: $foreground-color-dark;
        background-color: $success-color-default;

        &:hover {
            color: $foreground-color-highlight-dark;
            background-color: $success-color-default;
        }
    }
}

.error-popup-container {
    color: $foreground-color-dark;
    background-color: $error-color-default;

    &:hover {
        color: $foreground-color-highlight-dark;
        background-color: $error-color-default;
    }

    .popup-close-button {
        color: $foreground-color-dark;
        background-color: $error-color-default;

        &:hover {
            color: $foreground-color-highlight-dark;
            background-color: $error-color-default;
        }
    }
}
