.tree-diagram {
    display: inline-block;
    text-align: center;
    padding: 5px;
    /*border: 4px solid black;*/
}

.tree-line-div {
    display: block;
    padding: 5px;
    /*border: 3px solid black;*/
}

.tree-div {
    display: inline-block;
    padding: 5px 15px;
    vertical-align: top;
    /*border: 2px solid black;*/
}

.tree-node-male {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    padding: 5px;
    border: 1px solid black;
    font-size: 13px;
    background-color: lightblue;
}

.tree-node-female {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    padding: 5px;
    border: 1px solid black;
    font-size: 13px;
    background-color: burlywood;
}

.tree-node-married {
    display: inline-block;
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    padding: 5px;
    border: 1px solid black;
    font-size: 11px;
    background-color: lightgreen;
}