@using PathToMyRootsWebApp.Constants
@using PathToMyRootsWebApp.Utils
@model PathToMyRootsWebApp.Models.PersonModel

<div class="tree-diagram-and-lines-container" id="tree-diagram-container-div">
    <div class="tree-diagram-container" id="tree-diagram"></div>
    <svg class="tree-lines-container" id="tree-lines"></svg>
</div>

<script>
    const UnknownServerDate = '@Html.Raw(DateHelper.UnknownServerDate)';
    const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.29.3/date-fns.min.js"></script>
<script src="~/js/utils.js"></script>
<script src="~/js/tree-partial.js"></script>