@using PathToMyRootsSharedModels.Utils
@model PathToMyRootsWebApp.Models.PersonModel

<h1>Tree</h1>

<div class="trees-container" id="trees-container">
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.29.3/date-fns.min.js"></script>

    <script src="~/js/tree.js"></script>
    <script src="~/js/tree-builder/formatter.js"></script>
    <script src="~/js/tree-builder/lines-drawer.js"></script>
    <script src="~/js/tree-builder/node-creator.js"></script>
    <script src="~/js/tree-builder/relations-helper.js"></script>
    <script src="~/js/tree-builder/tree-builder.js"></script>

    <script>
        const UnknownServerDate = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';

        const personId = @Model.Id;
        createTreeDiagram(personId);
    </script>
}