@using PathToMyRootsSharedModels.Utils
<h1>Welcome</h1>

<div class="trees-container" id="trees-container">
</div>

<div class="pagination-container">
    <button id="prevTree">Prev</button>
    <button id="nextTree">Next</button>
</div>

@section Scripts {
    <script src="~/js/utils.js"></script>
    <script src="~/js/tree-builder/formatter.js"></script>
    <script src="~/js/tree-builder/lines-drawer.js"></script>
    <script src="~/js/tree-builder/node-creator.js"></script>
    <script src="~/js/tree-builder/relations-helper.js"></script>
    <script src="~/js/tree-builder/tree-builder.js"></script>
    <script src="~/js/home.js"></script>

    <script>
        const UnknownServerDate = '@Html.Raw(DateHelper.DatabaseDateUnknown)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';

        const personId = @Model.Id;
        showTree(personId);
    </script>
}