@using PathToMyRootsWebApp.Utils

<h1>Welcome</h1>

<div class="trees-container" id="trees-container">
</div>

<div class="pagination-container">
    <button id="prevTree" class="nav-button">Prev</button>
    <button id="nextTree" class="nav-button">Next</button>
</div>

@section Scripts {
    <script src="~/js/utils.js"></script>
    <script src="~/js/tree-builder.js"></script>
    <script src="~/js/home.js"></script>

    <script>
        const UnknownServerDate = '@Html.Raw(DateHelper.UnknownServerDate)';
        const HumanReadableDateUnknownDate = '@Html.Raw(DateHelper.HumanReadableDateUnknownDate)';

        showTree(1)
    </script>
}