@model PathToMyRootsWebApp.Models.PersonModel

<div class="tree-content-container">
    <h1>Welcome</h1>

    <div class="tree-content">
        @await Html.PartialAsync("../Tree/_TreePartial", Model)
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
    <script>
        const personId = @Model.Id;
        createTreeDiagram(personId);
    </script>
}